<div class="home-container" style="margin-top: 30px;">
  <div class="row w100m0p0">
    <div class="col-1" style="margin: 0; padding: 0;">
      <div class="image-workspace-back" style="width: 30px; height: 20px; float: right; cursor: pointer;"
        (click)="regresar()"></div>
    </div>
    <div class="col-11">
      <div class="row w100m0p0">
        <div class="col-6">
          <div class="titulo-proceso">
            {{ tituloProceso }}
          </div>
          <div class="subtitulo-proceso">
            Crea y edita tus conceptos para utilizarlos cuando creas facturas para tus clientes. Recuerda que todos los montos son mensuales.
          </div>
        </div>
        <div class="col-2"></div>
        <div class="col-4 bienvenida-cliente">
          ¡Buen día, {{ nombreCliente }}!
        </div>
      </div>
    </div>
  </div>

  <div class="home-container-accesos" style="margin-top: 30px;">
    <div class="row w100m0p0">
      <div class="col-1"></div>
      <div class="col-10 px-4 p-4" style="background-color: #FFFFFF; min-height: 350px;">
        <div class="titulo-formulario">
          tus CLIENTES 
        </div>

        <div class="row" style="margin-top: 4% !important;">
          <form [formGroup]="form" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            <div class="col-12 d-flex justify-content-end">
              <mat-form-field appearance="outline" style="min-width: 360px;">
                <mat-label>Buscar clientes</mat-label>
                <input matInput formControlName="buscar" id="buscar" name="buscar" (keyup)="onKeyDownEvent($event)"/>
                <mat-icon class="image-workspace-buscardor" matPrefix></mat-icon>
                <mat-icon matSuffix class="optionchecks"></mat-icon>
              </mat-form-field>

              <button type="button" class="btn-utaxme" style="max-width: 260px; font-size: 16px; font-weight: 600; height: 48px;display: flex; align-items: center; justify-content: space-evenly; margin: 0 20px;" >
                <mat-icon class="image-workspace-agregar image-invert-color"></mat-icon>
                Crear nuevo cliente
              </button>

              <button type="button" class="btn-utaxme-secondary" style="max-width: 50px; max-height: 50px; border-radius: 8px !important;">
                <mat-icon class="image-agregar-notificacion"></mat-icon>
              </button>

            </div>
          </form> 
        </div>

        <div class="col-12" style="margin-top: 20px; padding: 0 0px;">
          <mat-divider></mat-divider>
        </div>


        <div class="row" style="margin-top: 10px; min-height: 250px;" *ngIf="tablaLista?.length> 0">
          <div class="col-12 tableFixHead disable-scrollbars" style=" overflow-x: auto;">

            <table aria-describedby="tabla" class="table table-responsive table-striped">
              <thead style="margin-bottom: 10px;">
                <tr class="textoM">
                  <th class="punta-tittle  txt-tab">
                    <span style="cursor:default!important;">
                      razón social
                    </span>
                  </th>
                  <th class="punta-tittle txt-tab">
                    <span style="cursor:default!important;">
                      paquete contratado
                    </span>
                  </th>
                  <th class="punta-tittle  txt-tab">
                    <span style="cursor:default!important;">
                      Monto paquete
                    </span>
                  </th>
                  <th class="punta-tittle txt-tab">
                    <span style="cursor:default!important;">
                      Monto complementos
                    </span>
                  </th>
                  <th class="punta-tittle txt-tab">
                    <span style="cursor:default!important;">
                      total
                    </span>
                  </th>
                  <th class="punta-tittle txt-tab">
                    <span style="cursor:default!important;">
                      estaus mensual
                    </span>
                  </th>
                  <th class="punta-tittle txt-tab">
                    <span style="width: 70px; cursor:default!important;">
                      acciones
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody class="table-scroll" style="border: solid 1px #ffffff; ">
                <tr *ngFor="let item of tablaLista">
                  <td class=" txt-tab">
                    {{item.razonSocial}}
                  </td>
                  <td class=" txt-tab">
                    {{item.paquete}}
                  </td>
                  <td class=" txt-tab">
                    ${{item.montoPaquete | thousandsPipe}}
                  </td>
                  <td class="txt-tab" >
                    ${{item.montoComplementos | thousandsPipe}}
                  </td>
                  <td class=" txt-tab">
                    ${{item.total | thousandsPipe}}
                  </td>
                  <td class="txt-tab">
                    {{item.estatusMensual }}
                  </td>
                  <td>
                    <div class="d-flex justify-content-center">
                      <div class="card-accion" (click)="detallePagoCliente(item)">
                        <mat-icon class="img-accion-editar"></mat-icon>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12" style="margin-top: 20px; padding: 0 0px;">
          <mat-divider></mat-divider>
        </div>
        <div class="row w100m0p0" style="margin-top: 30px!important; min-height: 50px;"
          *ngIf="tablaLista?.length> 0">
          <div class="col-6 textoM"
            style="margin: 0; padding: 0; font-weight: 600; font-size: 10px; letter-spacing: 3px; color: #7B8AA0; padding-top: 7px;">
            Mostrando pág {{ this.pager?.current }} de {{ this.pager?.total }} de
            {{ this.pager?.data.length }} resultados
          </div>

          <div class="col-6" style="margin: 0; padding: 0;">
            <app-pager [pageModel]="pager" (paged)="onPaged($event)" style="float: right;"></app-pager>
          </div>
        </div>
        <div class="row"
          style="margin-top: 3% !important; display: flex; padding: 0 40px; min-height: 400px; align-items: center;"
          *ngIf="tablaLista?.length == 0">
          <app-filter-error (clickReturn)="returnFilter()"></app-filter-error>
        </div>

      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>