<div class="page-wrapper" style="margin: 0; padding: 0;">
  <div class="sticky-header">
    <app-header-home></app-header-home>
  </div>
  <div class="content-wrapper disable-scrollbars" style="background-color: #F4F4F4; overflow: scroll;">
    <div class="content-home">
      <div class="home-container-accesos" style="margin-top: 50px;">
        <div class="row w100m0p0">
          <div class="col-1" style="margin: 0; padding: 0;">
            <div class="image-workspace-back" style="width: 30px; height: 20px; float: right; cursor: pointer;" (click)="regresar()"></div>
          </div> 
          <div class="col-11">
            <div class="row w100m0p0">
              <div class="col-5">
                <div class="titulo-proceso">
                  {{ tituloProceso }}
                </div>
                <div class="subtitulo-proceso">
                  Crea y edita a tus clientes frecuentes para enviarles facturas rápidamente 
                </div>
              </div>
              <div class="col-3"></div>
              <div class="col-4 bienvenida-cliente">
                ¡Buen día, {{ nombreCliente }}!
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="home-container-accesos" style="margin-top: 30px;">
        <div class="row w100m0p0">
          <div class="col-1"></div>
          <div class="col-10 px-4 p-4" style="background-color: #FFFFFF; min-height: 350px;">
            <div class="titulo-formulario">
              tus clientes
            </div>
            <div class="row" style="margin-top: 4% !important;">
              <form [formGroup]="form" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                <div class="col-12 d-flex justify-content-end align-items-center">
                  <mat-form-field appearance="outline" style="min-width: 300px; font-size: 12px; height: 48px;">
                    <mat-label>Buscar concepto</mat-label>
                    <input matInput formControlName="buscar" id="buscar" name="buscar" (keyup)="onKeyDownEvent($event)"/>
                    <mat-icon class="image-workspace-buscardor" matSuffix></mat-icon>
                  </mat-form-field>
                  <button type="button" class="btn-utaxme" style="max-width: 260px; font-size: 16px; font-weight: 600; height: 48px;display: flex; align-items: center; justify-content: space-evenly; margin: 0 20px;" (click)="crearCliente()">
                    <mat-icon class="image-workspace-agregar image-invert-color"></mat-icon>
                    Crear nuevo concepto
                  </button>
                </div>
              </form> 
            </div>

            <div class="row" style="margin-top: 3% !important;" *ngIf="tablaLista?.length> 0">
              <div class="col-12 tableFixHead disable-scrollbars" style=" overflow-x: auto;">
                <table aria-describedby="tabla" class="table table-responsive table-striped">
                  <thead style="margin-bottom: 10px;">
                      <tr class="textoM">
                          <th class="punta-tittle" style="text-align: center;">
                            <span style="cursor:default!important;">
                              razón social
                            </span>
                          </th>
                          <th class="punta-tittle" style="text-align: center;">
                              <span style="cursor:default!important;">
                                rfc
                              </span>
                          </th>
                          <th class="punta-tittle" style="text-align: center;">
                            <span style="cursor:default!important;">
                              regimen
                            </span>
                          </th>
                          <th class="punta-tittle" style="text-align: center;">
                              <span style="cursor:default!important;">
                                correo ELECTRÓNICO
                              </span>
                          </th>
                          <th class="punta-tittle" style="text-align: center;">
                              <span style="width: 70px; cursor:default!important;">
                                acciones
                              </span>
                          </th>
                      </tr>
                  </thead>
                  <tbody class="table-scroll" style="border: solid 1px #ffffff; ">
                    <tr>
                      <td style="text-align: center;">
                      </td>
                      <td style="text-align: center;">
                      </td>
                      <td style="text-align: center;">
                      </td>
                      <td style="text-align: center;">
                      </td>
                      <td>
                        <div class="d-flex justify-content-center">
                          <div class="card-accion">
                            <mat-icon class="img-accion-editar" (click)="editarCliente('item')"></mat-icon>
                          </div>
                          <div class="card-accion">
                            <mat-icon class="img-accion-borrar" (click)="borrarCliente()"></mat-icon>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
              </table>
              </div>
            </div>
            <div class="row w100m0p0" style="margin-top: 30px!important; min-height: 50px;" *ngIf="tablaLista?.length> 0">
              <div class="col-6"
                style="margin: 0; padding: 0; font-weight: 600; font-size: 10px; letter-spacing: 3px; color: #7B8AA0; padding-top: 7px;">
                Mostrando pág {{ this.pager?.current }} de {{ this.pager?.total }} de
                {{ this.pager?.data.length }} resultados
              </div>
    
              <div class="col-6" style="margin: 0; padding: 0;" >
                <app-pager [pageModel]="pager" (paged)="onPaged($event)" style="float: right;"></app-pager>
              </div>
            </div>

            <div class="row" style="margin-top: 3% !important; display: flex; padding: 0 40px; min-height: 400px; align-items: center;" *ngIf="tablaLista?.length == 0">
              <app-filter-error (clickReturn)="returnFilter()"></app-filter-error>
            </div>

          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
