<div class="page-wrapper page-background" style="margin: 0; padding: 0;">
  <div class="sticky-header">
    <app-header-home></app-header-home>
  </div>
  <div class="home-container " style="margin-top: 30px;">    <div class="row w100m0p0">
        <div class="col-1"></div>
        <div class="col-5">
            <div class="row w100m0p0">
                <div class="col-1 icon-header">
                    <div class="image-administrator-workspace">&nbsp;</div>
                </div>
                <div class="col title-header">
                    ESPACIO DE TRABAJO
                </div>
            </div>
        </div>
        <div class="col-5 saludo-header"><p>¡Buen día!</p></div>
        <div class="col-1"></div>
    </div>
</div>
<div class="home-container" style="margin-top: 20px;">
    <div class="row w100m0p0">
        <div class="col-1"></div>
        <div class="col-10 worskpace-tab">
              <mat-tab-group [disableRipple]="true" >
              <mat-tab label="Facturación">
                    <ng-template matTabContent >
                        <div class="d-flex content-form" >
                          <div class="row d-flex justify-content-between " style="width: 100%; margin: 0;">
                            <div  class="col-4 d-flex justify-content-center align-items-center">
                              <div class="graficos-content">
                                <img src="../../../../assets/img/Graficos_Dashboard2 1.png" alt="">
                              </div>
                            </div>
                            <div  class="col d-flex justify-content-center align-items-center">
                              <div class="row justify-content-center">
                                <div class="row">
                                  <div class="col-12">
                                    <div class="respuesta-cuadrante">Módulo de facturación</div>
                                    <div class="texto-cuadrante" style="margin-top: 10px;">Crea y enviar facturas a tus clientes. Puedes dar de alta clientes frecuentes y crear facturas en solo segundos.</div>
                                  </div>
                                </div>
                                <div class="row d-flex justify-content-between" style="height: 160px; margin-top: 26px;">
                                  <div class="col d-flex justify-content-center align-items-center btn-accion" (click)="nuevaFactura()">
                                    <div class="row background-icon">
                                      <div class="image-nueva-factura">&nbsp;</div>
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                      <div class="respuesta-cuadrante">Crear <br> nueva factura</div>
                                    </div>
                                  </div>
                                  <div class="col d-flex justify-content-center align-items-center btn-accion" (click)="crearProdServ()">
                                    <div class="row background-icon">
                                      <div class="image-crear-prod-serv">&nbsp;</div>
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                      <div class="respuesta-cuadrante">Crea <br> productos/servicios</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row d-flex justify-content-between" style="height: 160px; margin-top: 35px;">
                                  <div class="col d-flex justify-content-center align-items-center btn-accion" (click)="clientesFrecuentes()">
                                    <div class="row background-icon">
                                      <div class="image-cliente-frecuente">&nbsp;</div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                      <div class="respuesta-cuadrante">Clientes frecuentes</div>
                                    </div>
                                  </div>
                                  <div class="col d-flex justify-content-center align-items-center btn-accion" (click)="cancelarFactura()">
                                    <div class="row background-icon">
                                      <div class="image-cancelar-factura" style="padding-right: 22px;">&nbsp;</div>
                                    </div>
                                    <div class="row" style="margin-top: 30px;">
                                      <div class=" respuesta-cuadrante">Cancelar facturas</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>

</div>