
.boton-factura{
  display: flex;
  justify-content: center;
  margin: 40px 0 10px;
}

.btn-factura{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 280px;
  min-height: 45px;
  border-radius: 25px;
}

@media(max-width: 425px){
  .boton-factura{
    display: none;
  }

}