
.boton-factura{
  display: flex;
  justify-content: center;
  margin: 40px 0 10px;
}

.btn-factura{
  height: 45px; 
  display: flex; 
  align-items: center; 
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 25px !important;
}

.divider-mobile{
  display: none;
}

.titulo-mobile{
  display: block;
}

@media(max-width: 425px){
  .boton-factura{
    display: none;
  }

  .vista-mobile{
    flex-direction: column-reverse;
  }
  
  .datos-mobile {
    width: 100%;
  }

  .divider-mobile{
    display: block;
  }

  .titulo-mobile{
    display: none;
  }

  .titulo-cuadrante {
    text-align-last: center;
  }
  
}