<div class="notification">
  <mat-dialog-content>
    <div class="container" style="width: 100%; margin: 0; padding: 0; overflow: hidden;">
      <div class="row" style="width: 100%; margin: 0; padding: 0;">
        <div class="col-6" style="margin: 0; padding: 0;">
          <div style="font-size: 19px; font-weight: 600; margin: 10px 0px;">Contacto</div>
        </div>
        <div class="col-6">
          <button mat-flat-button
            style="float: right; position: relative; top: -10px; right: -12px; width: 10px!important;  min-width: unset!important;"
            (click)="closeDialog()">
            <mat-icon style="margin-left: -12px!important; margin-top: 6px;">
              close
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="container" style="width: 100%; margin: 0; padding: 0; min-height: 100px;">
      <div class="row" style="width: 100%; margin: 0; padding: 0; line-height: 24px; margin-top: 20px;">
        <div class="col-12" style="margin: 0; padding: 0;">
          <div class="row" class="subtitulo-cuadrante" style="line-height: 5px;">
            Telefonos de contacto:
          </div>
          <div class="row" class="texto-cuadrante" style="margin: 0; padding: 0; margin-top: 10px;">
            <div class="col-12" style="margin: 0; padding: 0; margin-top: 5px;">
              55-8952-2909 <br>
              55-8952-2904 <br>
              55-7575-9662 <br>
            </div>
          </div>
        </div>
        <div class="col-12" style="margin: 0; margin-top: 27px; padding: 0;">
          <div class="row" class="subtitulo-cuadrante" style="line-height: 5px;">
            Whatsapp
          </div>
          <div class="row" class="texto-cuadrante" style="margin: 0; padding: 0; margin-top: 10px;">
            <div class="col-12" style="margin: 0; padding: 0; margin-top: 5px;">
              <div class="row">
                <div class="col-1">
                  <mat-icon class="img-whatsapp"></mat-icon> 
                </div>
                <div class="col">
                  55 6884 5587
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-12" style="margin: 0; margin-top: 27px; padding: 0;">
          <div class="row" class="subtitulo-cuadrante" style="line-height: 5px;">
            Correo electrónico
          </div>
          <div class="row" class="texto-cuadrante" style="margin: 0; padding: 0; margin-top: 10px;">
            <div class="col-12" style="margin: 0; padding: 0; margin-top: 5px;">
              contacto@utaxme.com
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
