.divider-mobile {
  display: none;
}

.titulo-mobile {
  display: block;
}

@media(max-width: 450px) {

  .vista-mobile {
    flex-direction: column-reverse;
  }

  .datos-mobile {
    width: 100%;
  }

  .divider-mobile {
    display: block;
  }

  .titulo-mobile {
    display: none;
  }

  .centrar-texto {
    align-items: flex-start;
  }

  .titulo-cuadrante {
    text-align-last: center;
  }
}