<div class="home-container-certificados">
    <div class="row w100m0p0">
        <ng-container *ngIf="mostrar == 1">
            <div class="row" style="margin-top: 38px;">
                <div class="col-12">
                    <div class="image-upload-file" style="height: 120px;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="texto">Añade el Certificado para Facturación del Cliente</div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 texto">
                  <button mat-button type="button" class="btn-utaxme-secondary" style="max-width: 180px; font-size: 16px; font-weight: 600; height: 48px;display: flex; align-items: center; justify-content: center; margin: 20px;" (click)="openCertificadoDialog()">
                    Añadir Certificado
                  </button>
                </div>
              </div>
        </ng-container>
        <ng-container *ngIf="mostrar == 2">
          <div class="row" style="margin-top: 3% !important; min-height: 250px;">
            <div class="col-12 tableFixHead disable-scrollbars" style=" overflow-x: auto;">
  
              <table aria-describedby="tabla" class="table table-responsive table-striped">
                <thead style="margin-bottom: 10px;">
                  <tr class="textoM">
                    <th class="punta-tittle  txt-tab">
                      <span style="cursor:default!important;">
                        nombre certificado
                      </span>
                    </th>
                    <th class="punta-tittle txt-tab">
                      <span style="cursor:default!important;">
                        fecha inicio
                      </span>
                    </th>
                    <th class="punta-tittle  txt-tab">
                      <span style="cursor:default!important;">
                        fecha fin
                      </span>
                    </th>
                    <th class="punta-tittle txt-tab">
                      <span style="cursor:default!important;">
                        password
                      </span>
                    </th>
                    <th class="punta-tittle txt-tab">
                      <span style="cursor:default!important;">
                        estatus
                      </span>
                    </th>
                    <th class="punta-tittle txt-tab">
                      <span style="cursor:default!important;">
                        acciones
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody class="table-scroll" style="border: solid 1px #ffffff; ">
                  <tr *ngFor="let item of certificados">
                    <td class=" txt-tab">
                      {{item.name}}
                    </td>
                    <td class="txt-tab" >
                      {{item.fechaInicio}}
                    </td>
                    <td class="txt-tab">
                      {{item.fechaFin }}
                    </td>
                    <td class="txt-tab" >
                      {{item.password}}
                    </td>
                    <td class="txt-tab">
                      Activo
                    </td>
                    <td>
                      <div class="d-flex justify-content-center">
                        <div class="card-accion">
                          <mat-icon class="img-accion-editar"></mat-icon>
                        </div>
                        <div class="card-accion">
                          <mat-icon class="img-accion-borrar"></mat-icon>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </ng-container>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <button mat-button class="btn-utaxme" style="max-width: 160px; font-size: 16px; font-weight: 600; height: 48px;display: flex; align-items: center; justify-content: center; margin: 20px;" (click)="validarForm()">
                Crear nuevo cliente
              </button>
            </div>
          </div>
    </div>
</div>