.home-container-accesos{
  width: 100%!important;
  margin: 0;
  padding: 0;
}

.titulo-proceso{
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #0B112A;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.subtitulo-proceso{
  font-weight: 400;
  font-size: 16px;
  color: #7B8AA0;
  margin-top: 5px;
}

.bienvenida-cliente {
  font-weight: 600;
  font-size: 20px;
  color: #3B4559;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.image-workspace-back {
  background-image: url("src\assets\img\icon\workspace-back.svg");
  background-size: 20px 20px;
  background-position: right;
  background-repeat: no-repeat;
}

.image-workspace-agregar {
  background-image: url("src\assets\img\icon\crear-black.svg");
  background-size: 24px 24px;
  background-position: right;
  background-repeat: no-repeat;
}

.image-arrow {
  background-image: url("src\assets\img\icon\arrow.svg");
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.home-acceso-card{
  background-color: #FFFFFF; 
  height: 130px; 
  border: 2px solid #E6EDF6; 
  box-shadow: 4px 8px 16px #E6EDF6;
  cursor: pointer;
}

.acceso-ico{
  width: 30px; 
  height: 30px; 
  background-color: #E6EDF6; 
  border-radius: 8px; 
  position: relative; 
  top: 10px; 
  left: 10px;
}

.acceso-tittle{
  font-weight: 600;
  word-wrap: break-word;
  position: relative; 
  top: 0px; 
  left: 10px;
  font-size: 18px;
  color: #0B112A;
  /* max-width: 50%; */
}

.acceso-arrow{
  height: 40px;
  width: 70px;
  margin-left: auto;
  background-color: #285CED;
  position: relative; 
  border-radius: 2px 0px 0px 2px;
  top: 0px;
  left: 4px;
  right: 0px;
}

.show-modal {
  display: block !important;
}

.hide-modal {
  display: none !important;
}

.modal.show-modal {
  background: rgba(11, 17, 42, 0.6);
}

.image-acceso-option-plus {
  background-image: url("src\assets\img\icon\accesos-plus.svg");
  background-size: 25px 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.image-acceso-option-check {
  background-image: url("src\assets\img\icon\accesos-check.svg");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}