<div class="modal-cfdi">
  <mat-dialog-content>
      <div class="container" style="width: 100%; margin: 0; padding: 0; overflow: hidden;">
          <div class="row" style="width: 100%; margin: 0; padding: 0;">

            <div class="col-2" *ngIf="width <= 450">
              <button mat-icon-button style="float: right; position: relative;" (click)="closeDialog()">
                  <mat-icon class="img-close"></mat-icon>
              </button>
            </div>  

            <div class="col-10"  style="padding: 0; display: flex; align-items: center;">
              <span class="dialog-titulo">{{titulo}}</span> 
            </div>

            <div class="col-2" *ngIf="width > 450">
                <button mat-icon-button style="float: right; position: relative;" (click)="closeDialog()">
                    <mat-icon class="img-close"></mat-icon>
                </button>
            </div>

          </div>
      </div>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <form [formGroup]="form" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
      <div class="container" style="margin: 0; padding: 20px 30px;">
        <div class="cotainer" *ngIf="opcionCrear">
          <div class="row w100m0p0 formulario-configuracion" style="margin-top: 3% !important;">
            <div class="col-6 dialog-texto">
              Puedes realizar búsquedas de conceptos y seleccionarlas dentro del buscador para completar los datos del formulario.
            </div>
            <div class="col-6 head-mb">
              <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                <mat-label>Buscar concepto</mat-label>
                <input matInput formControlName="buscar" id="buscar" name="buscar" [matAutocomplete]="auto" (keyup)="catalogoProductos($event)"/>
                <mat-icon class="image-workspace-buscardor" matSuffix></mat-icon>

                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let item of filteredOptions | async" [value]="item.descripcion" (click)="seleccionConcepto(item)">
                    {{item.descripcion}}
                  </mat-option>
                </mat-autocomplete>

              </mat-form-field>
            </div>
          </div> 
        </div>
        <mat-divider  *ngIf="opcionCrear"></mat-divider>
        <div class="cotainer disable-scrollbars" style="overflow: scroll;" [ngStyle]="{'max-height': opcionCrear ? '500px' : '600px'}">  
          <div class="row w100m0p0 formulario-configuracion" style="margin-top: 3% !important;">
            <div class="col-12 dialog-texto-titulo">
              Detalles del concepto
            </div>
            <div class="col-6 head-mb" style="margin-top: 3%;">
              <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                <mat-label class="textoM">nombre producto/servicio*</mat-label>
                <input matInput formControlName="nombreProducto" id="nombreProducto" name="nombreProducto"/>
                <mat-error *ngIf="formulario.nombreProducto.invalid && formulario.nombreProducto.touched && formulario.nombreProducto.errors">
                  <ng-container *ngIf="formulario.nombreProducto.errors.required">
                    {{ getErrorRequerido() }}
                  </ng-container>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6 head-mb" style="margin-top: 3%;">
              <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                <mat-label class="textoM">clave producto/servicio*</mat-label>
                <input matInput formControlName="clavaProducto" id="clavaProducto" name="clavaProducto"/>
                <mat-error *ngIf="formulario.clavaProducto.invalid && formulario.clavaProducto.touched && formulario.clavaProducto.errors">
                  <ng-container *ngIf="formulario.clavaProducto.errors.required">
                    {{ getErrorRequerido() }}
                  </ng-container>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6 head-mb m0p0">
              <div class="row w100m0p0">
                <div class="col-12" style="margin-top: 3%;">
                  <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                    <mat-label class="textoM">unidad*</mat-label>
                    <input matInput formControlName="unidad" id="unidad" name="unidad" />
                    <mat-error *ngIf="formulario.unidad.invalid && formulario.unidad.touched && formulario.unidad.errors">
                      <ng-container *ngIf="formulario.unidad.errors.required">
                        {{ getErrorRequerido() }}
                      </ng-container>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12 head-mb" style="margin-top: 3%;">
                  <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                    <mat-label class="textoM">clave unidad*</mat-label>
                    <input matInput formControlName="clavaUnidad" id="clavaUnidad" name="clavaUnidad" />
                    <mat-error *ngIf="formulario.unidad.invalid && formulario.unidad.touched && formulario.unidad.errors">
                      <ng-container *ngIf="formulario.unidad.errors.required">
                        {{ getErrorRequerido() }}
                      </ng-container>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-12 head-mb" style="margin-top: 3%;">
                  <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                    <mat-label class="textoM">valor unitario*</mat-label>
                    <input matInput formControlName="valorUnitario" id="valorUnitario" name="valorUnitario"/>
                    <span matPrefix style="display: table-caption; height: 22px;">$&nbsp;</span>
                    <mat-error *ngIf="formulario.valorUnitario.invalid && formulario.valorUnitario.touched && formulario.valorUnitario.errors">
                      <ng-container *ngIf="formulario.valorUnitario.errors.required">
                        {{ getErrorRequerido() }}
                      </ng-container>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="col-6 head-mb m0p0">
              <div class="row w100m0p0">
                <div class="col-12 " style="margin-top: 5%;">
                  <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                    <mat-label class="textoM">descripción*</mat-label>
                    <textarea  matInput formControlName="descripcion" id="descripcion" name="descripcion" rows="11"></textarea>
                    <mat-error *ngIf="formulario.descripcion.invalid && formulario.descripcion.touched && formulario.descripcion.errors">
                      <ng-container *ngIf="formulario.descripcion.errors.required">
                        {{ getErrorRequerido() }}
                      </ng-container>
                    </mat-error>
                  </mat-form-field></div>
              </div>
            </div>
          </div>
          <div class="row w100m0p0 formulario-configuracion" style="margin-top: 3% !important;">
            <div class="col-12 dialog-texto-titulo" style="margin-top: 3%;">
              Impuestos
            </div>
            <div class="col-12 dialog-texto" style="margin-top: 3%;">
              ¿Qué tipo de impuesto tiene tu concepto? Ingresa la tasa de impuesto aplicado a tu concepto.
            </div>
            <div class="col-12" style="margin-top: 3%;">
              <div class="row w100m0p0">
                <div class="col-12">
                  <mat-checkbox class="example-margin" formControlName="impuestoT">Impuesto trasladado</mat-checkbox>
                </div>
                <ng-container *ngIf="form.controls['impuestoT'].value">
                  <div class="col-6 head-mb" style="margin-top: 3%;">
                    <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                      <mat-label class="textoM">IVA</mat-label>
                      <input matInput formControlName="iva" id="iva" name="iva" 
                      (keyup)="validarCaracteres($event, 'iva')" (keypress)="onlyNumbers($event);"/>
                      <span matSuffix style="display: table-caption; height: 22px;">%</span>
                    </mat-form-field>
                    <mat-error *ngIf="formulario.iva.invalid && formulario.iva.touched && formulario.iva.errors">
                      <ng-container *ngIf="formulario.iva.errors.valor">
                        El numero debe contar con un numero entero hasta 4 decimales
                      </ng-container>
                      <ng-container *ngIf="formulario.iva.errors.mayor">
                        El valor no debe ser mayor a %16
                      </ng-container>
                      <ng-container *ngIf="formulario.iva.errors.impuesto">
                        Debes de agregar un valor al IVA impuesto
                      </ng-container>
                    </mat-error>
                  </div>
                  <div class="col-6" style="margin-top: 3%;">
                      <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                        <mat-label class="textoM">IEPS</mat-label>
                        <input matInput formControlName="ieps" id="ieps" name="ieps"
                        (keyup)="validarCaracteres($event, 'ieps')" (keypress)="onlyNumbers($event);"/>
                        <span matSuffix style="display: table-caption; height: 22px;">%</span>
                      </mat-form-field>
                      <mat-error *ngIf="formulario.ieps.invalid && formulario.ieps.touched && formulario.ieps.errors">
                        <ng-container *ngIf="formulario.ieps.errors.valor">
                          El numero debe contar con un numero entero hasta 4 decimales
                        </ng-container>
                      </mat-error>

                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-12" style="margin-top: 3%;">
              <div class="row w100m0p0">
                <div class="col-12">
                  <mat-checkbox class="example-margin" formControlName="impuestoR">Impuesto retenido</mat-checkbox>
                </div>
                <ng-container *ngIf="form.controls['impuestoR'].value">
                  <div class="col-6 head-mb" style="margin-top: 3%;">
                    <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                      <mat-label class="textoM">isr</mat-label>
                      <input matInput formControlName="isr" id="isr" name="isr"
                      (keyup)="validarCaracteres($event, 'isr')" (keypress)="onlyNumbers($event);"/>
                      <span matSuffix style="display: table-caption; height: 22px;">%</span>
                    </mat-form-field>
                    <mat-error *ngIf="formulario.isr.invalid && formulario.isr.touched && formulario.isr.errors">
                      <ng-container *ngIf="formulario.isr.errors.valor">
                        El numero debe contar con un numero entero hasta 4 decimales
                      </ng-container>
                    </mat-error>

                  </div>
                  <div class="col-6 head-mb" style="margin-top: 3%;">
                    <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                      <mat-label class="textoM">iva</mat-label>
                      <input matInput formControlName="ivaR" id="ivaR" name="ivaR"
                      (keyup)="validarCaracteres($event, 'ivaR')" (keypress)="onlyNumbers($event);"/>
                      <span matSuffix style="display: table-caption; height: 22px;">%</span>
                    </mat-form-field>
                    <mat-error *ngIf="formulario.ivaR.invalid && formulario.ivaR.touched && formulario.ivaR.errors">
                      <ng-container *ngIf="formulario.ivaR.errors.valor">
                        El numero debe contar con un numero entero hasta 4 decimales
                      </ng-container>
                      <ng-container *ngIf="formulario.ivaR.errors.mayor">
                        El valor no debe ser mayor a %16
                      </ng-container>
                    </mat-error>

                  </div>
                </ng-container>
              </div>
            </div>
            <div class="col-12" style="margin-top: 3%;">
              <div class="row w100m0p0">
                <div class="col-12">
                  <mat-checkbox class="example-margin" formControlName="impuestoL">Impuesto local</mat-checkbox>
                </div>
                <ng-container *ngIf="form.controls['impuestoL'].value">
                  <div class="col-6 head-mb" style="margin-top: 3%;">
                    <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                      <mat-label class="textoM">impuesto local</mat-label>
                      <mat-select formControlName="impuestoLocal" id="impuestoLocal" name="impuestoLocal">
                        <mat-option *ngFor="let item of catalogoImpuestos" [value]="item.clave">
                          {{item.descripcion}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-6 head-mb" style="margin-top: 3%;">
                    <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                      <mat-label class="textoM">tasa trasladado</mat-label>
                      <input matInput formControlName="tasaLocal" id="tasaLocal" name="tasaLocal"
                      (keyup)="validarCaracteres($event, 'tasaLocal')" (keypress)="onlyNumbers($event);"/>
                      <span matSuffix style="display: table-caption; height: 22px;">%</span>
                    </mat-form-field>
                    <mat-error *ngIf="formulario.tasaLocal.invalid && formulario.tasaLocal.touched && formulario.tasaLocal.errors">
                      <ng-container *ngIf="formulario.tasaLocal.errors.valor">
                        El numero debe contar con un numero entero hasta 4 decimales
                      </ng-container>
                    </mat-error>

                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row" style="margin: 40px 0px 0px !important; width: 100%; padding: 0;">
            <div class="col-12 btns-mb">
              <button type="button" class="btn-utaxme-secondary tab-colum btn-cancelar" (click)="closeDialog()" >
                Cancelar
              </button>
              <button type="button" class="btn-utaxme btn-guardar" (click)="guardarConcepto()" >
                Guardar concepto
              </button>
            </div>
          </div>
        </div>
        </div>
      </form>
  </mat-dialog-actions>
</div>