mat-toolbar{
  position: sticky;    
  top: 0;
  z-index: 1000;
  height: 60px;
  background-color:#3B4559;
  display: flex;
  flex-wrap: wrap;
}

.home-user-name{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  padding: 0;
  margin-right: 5px;
  text-transform: capitalize;
}

.home-user-rol{
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #7B8AA0;

  
}

.home-menu{
  height: 50px; 
  border-radius: 8px 8px 0px 0px;
  padding: 0 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.home-header-user{
  background-color: #E6EDF6; 
  width: 40px; 
  height: 40px; 
  margin-top: 10px; 
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.home-header-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E6EDF6;
  border-radius: 8px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.menu-ico{
  width: 30px; 
  height: 30px; 
  background-color: #7B8AA0; 
  border-radius: 8px; 
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-active{
  background-color: #F4F4F4;
}

.menu-title-active{
  position: relative; 
  font-size: 14px; 
  font-weight: 600;
  width: fit-content;
  color:#0B112A;
  margin-left: 10px;
}

.menu-title{
  position: relative; 
  font-size: 14px; 
  font-weight: 500;
  color:#7B8AA0;
  width: fit-content;
  padding-top: 2px;
  margin-left: 10px;
}

.menu-user{
  width: fit-content; 
  /* background-color: red; */
  margin-top: -10px; 
  padding: 0;
  cursor: pointer;
}

.menu-user-container{
  /* background-color: #E6EDF6;  */
  margin: 0; 
  padding: 0; 
  width: fit-content;
  height: 40px; 
  margin-top: 10px; 
  margin-left: 5px;
}

::ng-deep .header-menu  .mat-menu-item[disabled] { 
  color: unset!important;
}



::ng-deep .mat-menu-panel{
  max-width:fit-content !important;
  max-height: fit-content!important;
}



::ng-deep .notification-tab .mat-ripple-container-active{
  background-color: none!important;
}

::ng-deep .notification-tab .mat-tab-label{
  color: #000000!important;
  font-weight: bold!important;
  font-size: 15px;
}

::ng-deep .notification-tab .mat-ink-bar{
  background-color: #3B4559!important;
}

::ng-deep .notification-tab .mat-tab-link {
  border-style: solid;
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 8px 8px 0px 0px;
  font-weight: bold!important;
}

.mat-ripple.mat-tab-label.mat-focus-indicator.mat-tab-label.ng-star-inserted {
  opacity: 1;
}

.badged-notification {
  width: 25px;
  background-color: #285ced;
  height: 25px;
  color: white;
  border-radius: 15px;
  display: flex;
  margin-left: 14px;
  margin-top: -6px;
  font-size: 15px;
}

::ng-deep .mat-tab-label-active{
  color: #000000;
  font-style: normal;
  font-weight: 800 !important;
  font-size: 18px !important;
}

::ng-deep .mat-tab-label{
  font-style: normal;
  font-size: 18px !important;
}

.ocultar-contenido{
  display: none
}

@media(max-width: 650px){

  .home-menu {
    padding: 0 4px;
  }

  .menu-title{
    font-size: 11px;
  }

  .menu-title-active{
    font-size: 11px;
  }

  .image-toolbar{
    background-size: 120px 40px;
  }

  

}

@media(max-width: 450px){
  mat-toolbar{
    height: 45px;
  }
}
.menu-movil-home{
  background-image: url("src\assets\icon\home-black.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-movil-home-activo{
  background-image: url("src\assets\icon\home-relleno.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-movil-espacio{
  background-image: url("src\assets\icon\espacio-black.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-movil-espacio-activo{
  background-image: url("src\assets\icon\espacio-relleno.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-movil-fiscal{
  background-image: url("src\assets\icon\salud-fiscal-black.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-movil-fiscal-activo{
  background-image: url("src\assets\icon\salud-fiscal-relleno.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-movil-usuario{
  background-image: url("src\assets\icon\usuario-black.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.menu-movil-usuario-activo{
  background-image: url("src\assets\icon\usuario-relleno.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.image-size-19 {
  background-size: 19px 19px;
}

.menu-title-movil{
  font-weight: 400;
  font-size: 9px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

