<mat-toolbar [ngStyle]="{'background-color': color}" *ngIf="width > 450">
  <div class="row width-completo">
    <div class="m0p0" [ngClass]="width > 850 ? 'col-2' : 'col-3'">
      <div [ngClass]="logo"></div>
    </div>
    <div class="d-flex align-items-end justify-content-evenly" [ngClass]="width > 850 ? 'col-5' : width > 700 ? 'col-6' : 'col-8'">
      
      <div class="home-menu" [ngClass]="this.router.url === '/dashboard' ? 'menu-active':''" (click)="cambiarMenu(1)">
        <div class="menu-ico" [ngStyle]="{'background-color': this.router.url === '/dashboard' ? '#7B8AA0':'#122d4f'}">
          <mat-icon [ngClass]="this.router.url === '/dashboard' ? 'image-home-black image-invert-color' : 'image-home'" class="image-size-20"></mat-icon>
        </div>
        <div [ngClass]="this.router.url === '/dashboard' ? 'menu-title-active':'menu-title'">
          Dashboard
        </div>
      </div>
      
        <div class="home-menu" [ngClass]="this.router.url != '/dashboard' ? 'menu-active':''" (click)="cambiarMenu(2)">
            <div class="menu-ico" [ngStyle]="{'background-color': this.router.url != '/dashboard' ? '#7B8AA0':'#122d4f'}">
              <mat-icon [ngClass]="this.router.url != '/dashboard' ? 'img-header-work-active':'img-header-work'" class="image-size-20"></mat-icon>
            </div>
            <div [ngClass]="this.router.url != '/dashboard' ? 'menu-title-active':'menu-title'">
                Espacio de trabajo
            </div>
        </div>
     
      
    </div>
    <div class="m0p0  d-flex align-items-center justify-content-end" [ngClass]="width > 700 ? 'col-3' : 'col-1'">
      <div class="menu-user" [matMenuTriggerFor]="userMenu">
        <div class="row">
          <div [ngClass]="width > 700 ? 'col-3' : 'col-12'">
            <div class="home-header-user">
              <mat-icon class="image-home-user image-size-22"></mat-icon>
            </div>
          </div>
          <div class="col-9" [ngClass]="{'ocultar-contenido' : width < 700}">
            <div class="menu-user-container">
                <div class="row">
                    <div class="col home-user-name">
                      {{ (user.name.length > 15) ? (user.name | slice:0:15 ) + '...' : user.name | titlecase }}
                    </div>
                    <div class="col image-home-down image-size-14"></div>
                </div>
                <div class="row home-user-rol">
                  {{ user.rol }}
                </div>
            </div>
          </div>
        </div>
        <mat-menu class="header-menu" #userMenu="matMenu" xPosition="before">
            <ng-container *ngIf="width < 850">
              <button mat-menu-item style="font-size: 14px; font-weight: 400; text-align: left;" (click)="notificaciones()">
                <mat-icon class="image-home-notificacion image-size-20"></mat-icon>
                <span>Notificaciones</span>
              </button>
              <!-- <button mat-menu-item style="font-size: 14px; font-weight: 400; text-align: left;" disabled>
                <mat-icon class="image-home-ayuda image-size-20"></mat-icon>
                <span>Ayuda</span>
              </button> -->
            </ng-container>
            <button mat-menu-item style="font-size: 14px; font-weight: 400;" (click)="salir()">
                <mat-icon class="image-home-logout image-size-20"></mat-icon>
                <span>CERRAR SESIÓN</span>
            </button>
            <button mat-menu-item style="font-size: 14px; font-weight: 400; text-align: left;" disabled>
                <mat-icon class="image-home-version image-size-20"></mat-icon>
                <span>VERSIÓN 2.0.0.1</span>
            </button>
        </mat-menu>
      </div>
    </div>
    <div class="col-2 display-align-center justify-content-evenly" [ngClass]="{'ocultar-contenido' : width < 850}">
      <div class="home-header-icon" #menuTriggerNotification="matMenuTrigger" [matMenuTriggerFor]="notificacion">
        <mat-icon class="image-home-notificacion image-size-20"></mat-icon>
      </div>
      <mat-menu class="notification-menu" #notificacion="matMenu" xPosition="before">
          <div class="notificacion-menu-contenido" style="margin: 0!important; padding: 0!important; font-size: 14px; font-weight: 600; min-width: 400px; min-height: 400px;" (click) = "$event.stopPropagation()">
              <div class="row" style="width:100%; margin:0; padding: 20px; text-transform: uppercase; line-height: 18px; font-size: 18px;">
                  <div class="col-6" style="padding-top: 0px;">
                      NOTIFICACIONES
                  </div>
                  <div class="col-6">
                      <button mat-flat-button style="float: right; position: relative; top: -10px; right: -12px; width: 10px!important;  min-width: unset!important;" (click)="menuTriggerNotification.closeMenu()">
                          <mat-icon style="margin-left: -12px!important; margin-top: 0px;">
                              close
                          </mat-icon>
                      </button>
                  </div>
              </div>
              <div class="row" style="width:100%; margin:0; padding: 20px; padding-top: 10px; margin-top: -15px;">
                  <mat-tab-group [disableRipple]="true" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)" dynamicHeight>
                      <mat-tab label="No leídas">
                          <ng-template matTabContent>
                              <app-notifications [leidas]="true" (close)="menuTriggerNotification.closeMenu();"></app-notifications>
                          </ng-template>
                      </mat-tab>
                      <mat-tab label="Leídas">
                          <ng-template matTabContent >
                              <app-notifications [leidas]="false" (close)="menuTriggerNotification.closeMenu();"></app-notifications>
                          </ng-template>
                      </mat-tab>
                  </mat-tab-group>
              </div>
          </div>
      </mat-menu>

      <!-- <div class="home-header-icon" (click)="abrirModuloAyuda()">
        <mat-icon class="image-home-ayuda image-size-20"></mat-icon>
      </div> -->
    </div>
  </div>
</mat-toolbar>


<mat-toolbar [ngStyle]="{'background-color': color}" *ngIf="width <= 450">
  <div class="row width-completo ">
    <div class="col d-flex flex-column align-items-center" (click)="cambiarMenu(1)">
      <mat-icon class="image-invert-color image-size-19" [ngClass]="this.router.url === '/dashboard' ? 'menu-movil-home-activo' : 'menu-movil-home'"></mat-icon>
      <div class="menu-title-movil" [ngStyle]="{'font-weight': this.router.url === '/dashboard' ? 600 : ''}" >
        Dashboard
      </div>
    </div>

    <div class="col d-flex flex-column align-items-center" (click)="cambiarMenu(2)">
      <mat-icon class="image-invert-color image-size-19" [ngClass]="this.router.url === '/espacio-trabajo' ? 'menu-movil-espacio-activo' : 'menu-movil-espacio'"></mat-icon>
      <div class="menu-title-movil" [ngStyle]="{'font-weight': this.router.url === '/espacio-trabajo' ? 600 : ''}" >
        Tu Espacio
      </div>
    </div>

    <div class="col d-flex flex-column align-items-center" (click)="cambiarMenu(3)">
      <mat-icon class="image-invert-color image-size-19" [ngClass]="this.router.url === '/salud-fiscal' ? 'menu-movil-fiscal-activo' : 'menu-movil-fiscal'"></mat-icon>
      <div class="menu-title-movil" [ngStyle]="{'font-weight': this.router.url === '/salud-fiscal' ? 600 : ''}" >
        Salud Fiscal
      </div>
    </div>

    <div class="col d-flex flex-column align-items-center" (click)="cambiarMenu(4)">
      <mat-icon class="image-invert-color image-size-19" [ngClass]="this.router.url === '/perfil' ? 'menu-movil-usuario-activo' : 'menu-movil-usuario'"></mat-icon>
      <div class="menu-title-movil" [ngStyle]="{'font-weight': this.router.url === '/perfil' ? 600 : ''}" >
        Perfil
      </div>
    </div>
    
  </div>
</mat-toolbar>