::ng-deep .confirm .mat-dialog-content{
  max-width: 350px!important;
}

::ng-deep .mat-dialog-container:has(.confirm){
  border-radius: 4px;
  min-width: 380px!important;
  min-height: 220px!important;
}
