<alert></alert>
<div class="modal-cfdi">
  <mat-dialog-content>
      <div class="container" style="width: 100%; margin: 0; padding: 0; overflow: hidden;">
          <div class="row" style="width: 100%; margin: 0; padding: 0;"> 
            <div class="col-10"  style="padding: 0; display: flex; align-items: center;">
              <span class="dialog-titulo">Agregar concepto</span> 
            </div>
            <div class="col-2">
              <button mat-icon-button style="float: right; position: relative;" (click)="closeDialog()">
                  <mat-icon class="img-close"></mat-icon>
              </button>
            </div>
          </div>
      </div>
  </mat-dialog-content>
  
  <mat-dialog-actions>
      <div class="container" style="margin: 0; padding: 20px 30px;">  
        <div class="row w100m0p0" style="margin-top: 3% !important;">
          <div class="col-12 dialog-texto">
            Para ingresar servicios y montos a tu factura, selecciona tus conceptos <br> y haz clic en ¨Agregar conceptos¨
          </div>
        </div>

        <div class="row w100m0p0" style="margin-top: 3% !important;">
          <form [formGroup]="form" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
            <div class="col-12 d-flex justify-content-end align-items-center">
              <mat-form-field appearance="outline" style="font-size: 12px; height: 48px;">
                <mat-label>Buscar concepto</mat-label>
                <input matInput formControlName="busqueda" id="busqueda" name="busqueda" minlength="3" (keyup)="onKeyDownEvent($event)"/>
                <mat-icon class="image-workspace-buscardor" matSuffix></mat-icon>
              </mat-form-field>
              <button (click)="crearConcepto()" type="button" class="btn-utaxme-secondary" style="max-width: 260px; font-size: 16px; font-weight: 600; height: 48px;display: flex; align-items: center; justify-content: space-evenly; margin: 0 20px;">
                <!--  -->
                <mat-icon class="image-workspace-agregar"></mat-icon>
                Crear nuevo concepto
              </button>
            </div>
          </form> 
        </div>

        <div class="row w100m0p0" style="margin-top: 3% !important;">
          <div class="col-12 tableFixHead disable-scrollbars" style="max-height: 300px; overflow-x: auto;" *ngIf="tablaLista?.length > 0">
            <table aria-describedby="tabla" class="table table-responsive table-striped">
              <thead style="margin-bottom: 10px;">
                  <tr class="textoM">
                      <th class="punta-tittle" style="text-align: center;">
                      </th>
                      <th class="punta-tittle" style="text-align: center;">
                          <span style="cursor:default!important;">
                            clave
                          </span>
                      </th>
                      <th class="punta-tittle" style="text-align: center;">
                          <span style="cursor:default!important;">
                            nombre
                          </span>
                      </th>
                      <th class="punta-tittle" style="text-align: center;">
                          <span style="cursor:default!important;">
                            unidad
                          </span>
                      </th>
                      <th class="punta-tittle" style="text-align: center;">
                          <span style="cursor:default!important;">
                            unitario
                          </span>
                      </th>
                      <th class="punta-tittle" style="text-align: center;">
                          <span style="width: 70px; cursor:default!important;">
                            acciones
                          </span>
                      </th>
                  </tr>
              </thead>
              <tbody class="table-scroll" style="border: solid 1px #ffffff; ">
                <tr *ngFor="let item of tablaLista">
                  <td style="text-align: center;">
                    <mat-checkbox class="example-margin" [(ngModel)]="item.estatus"></mat-checkbox>
                  </td>
                  <td style="text-align: center;">
                    {{item.idConceptoCliente}}
                  </td>
                  <td style="text-align: center;">
                    {{item.productoServicio}} 
                  </td>
                  <td style="text-align: center;">
                    {{item.unidad}}
                  </td>
                  <td style="text-align: center;">
                    ${{item.valorUnitario | thousandsPipe}}
                  </td>
                  <td class="d-flex justify-content-center">
                    <div class="card-accion" (click)="editarConcepto(item)">
                      <mat-icon class="img-accion-editar"></mat-icon>
                    </div>
                    <div class="card-accion" (click)="borrarConcepto(item)">
                      <mat-icon class="img-accion-borrar"></mat-icon>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="col-12"
                style="min-height: 250px; padding: 0 40px;  display: flex; align-items: center;"
                *ngIf="tablaLista?.length == 0">
                <app-filter-error (clickReturn)="returnFilter()"></app-filter-error>
              </div>


        </div>

        <div class="row" style="margin: 40px 0px 0px !important; width: 100%; padding: 0;">
          <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn-utaxme-secondary" (click)="closeDialog()" style="max-width: 120px; font-size: 16px; font-weight: 600; height: 48px;display: flex; align-items: center; justify-content: center; margin: 20px;">
              Cancelar
            </button>
            <button type="button" class="btn-utaxme" (click)="confirmDialog()" style="max-width: 225px; font-size: 16px; font-weight: 600; height: 48px;display: flex; align-items: center; justify-content: center; margin: 20px;">
              Agregar conceptos
            </button>
          </div>
        </div>
      </div>
  </mat-dialog-actions>
</div>