<div class="page-wrapper" style="margin: 0; padding: 0;">
  <div class="sticky-header">
    <app-header-home></app-header-home>
  </div>
  <div class="home-container" style="margin-top: 30px;">
    <div class="row w100m0p0">
        <div class="col-1"></div>
        <div class="col-5">
            <div class="row w100m0p0">
                <div class="col-1 icon-header" (click)="back()">
                    <div class="image-administrator-workspace">&nbsp;</div>
                </div>
                <div class="col title-header">
                    CANCELAR FACTURA
                </div>
                <div class="row subt-header" >
                  Última actualización: 27 feb 05:49 pm
              </div>
            </div>
        </div>
        <div class="col-5 saludo-header"><p>¡Buen día!</p></div>
        <div class="col-1"></div>
    </div>
</div>
<div class="home-container" style="margin-top: 20px;">
  <div class="row w100m0p0">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="content-form">
          
        </div>
      </div>
      <div class="col-1">
      </div>
  </div>
</div>
</div>