<div class="page-wrapper" style="margin: 0; padding: 0;">
  <div class="sticky-header">
    <app-header-home></app-header-home>
  </div>
  <alert></alert>
  <div class="content-wrapper disable-scrollbars" style="background-color: #F4F4F4; overflow: scroll;">
    <div class="content-home">
      <div class="home-container-accesos" style="margin-top: 30px;">
        <div class="row w100m0p0 head-mob">
          <div class="col-1" style="margin: 0; padding: 0;">
            <div class="image-workspace-back" style="width: 30px; height: 20px; float: right; cursor: pointer;"
              (click)="regresar()"></div>
          </div>
          <div class="col-11">
            <div class="row w100m0p0">
              <div class="col-8">
                <div class="titulo-proceso">
                  {{ tituloProceso }}
                </div>
                <div class="subtitulo-proceso">
                  Crea y edita a tus clientes frecuentes para enviarles facturas <br> rápidamente
                </div>
              </div>
              <div class="col-4 bienvenida-cliente">
                ¡Buen día, {{ nombreCliente }}!
              </div>
            </div>
          </div>
        </div>

        <div class="row w100m0p0 in-mobile">
          <div class="col-12">
            <div class="row head-mobile-title">
              <div class="row titulo-menu-cuadrante m0p0">
                <div class="col-1 " style="margin: 0; padding: 0;">
                  <div class="image-workspace-back-2" style="width: 30px; height: 20px; float: right; cursor: pointer;"
                    (click)="regresar()"></div>
                </div>
                <span style="font-weight: 600; width: 300px; font-size: 18px; color: #0B112A;"> Cancelar Factura</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="home-container-accesos" style="margin-top: 30px;">
        <div class="row w100m0p0">
          <div class="col-1 not-mobile"></div>
          <div class="col-10 px-4 p-4 input-mob p-mb" style="background-color: #FFFFFF; min-height: 850px;">
            <div class="titulo-formulario not-mobile">
              Cancelar CFDI
            </div>

            <div class="row w100m0p0 in-mobile" style="margin-top: 3% !important;">
              <div class="col-12 dialog-texto">
                Puedes cancelar los CFDIs que has emitido, recuerda comunicarte con tu contador previo a  realizar cualquier cancelación
              </div>
            </div>

            <form [formGroup]="form" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
              <div class="row">
                <div class="col-12">
                  <div class="row inp-mob" style="margin-top: 2%;">

                    

                    <div class="col-5 input-mob in-mobile" >
                      <mat-form-field appearance="outline" class="input-mob" style="width: 100%; font-size: 16px; height: 80px;">
                        <mat-icon matPrefix class="ico-search"></mat-icon>
                        <mat-label>Buscar por número de orden</mat-label>
                        <input matInput formControlName="numeroOrden" id="inputOrden" name="tituloPaquete"
                          (keyup)="actionDisabledFecha()" />
                        <!-- <mat-error *ngIf="!form.controls['tituloPaquete'].valid && form.controls['tituloPaquete'].touched">
                      {{ getError() }}
                    </mat-error> -->
                      </mat-form-field>
                    </div>



                    <div class="col-12 in-mobile" style="margin: 22px 0 22px 0;">
                      <mat-divider></mat-divider>
                      </div>


                    <div class="col-3 input-mob">
                      <mat-form-field appearance="outline" class="input-mob" style="font-size: 13px; height: 80px;"
                        (click)="picker.open()">
                        <mat-label>Fecha de inicio</mat-label>
                        <input readonly formControlName="inicial" id='inputInicial' matInput [matDatepicker]="picker"
                          (dateChange)="actionDisabledOrden()">
                        <mat-hint>DD/MM/AAAA</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker">
                          <mat-icon matDatepickerToggleIcon class="image-calendar-date-picker"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-3 input-mob">
                      <mat-form-field appearance="outline" class="input-mob" style="font-size: 13px; height: 80px;"
                        (click)="picker2.open()">
                        <mat-label>Fecha final</mat-label>
                        <input readonly formControlName="final" id='inputFinal' matInput [matDatepicker]="picker2"
                          (dateChange)="actionDisabledOrden()">
                        <mat-hint>DD/MM/AAAA</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker2">
                          <mat-icon matDatepickerToggleIcon class="image-calendar-date-picker"></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                    </div>
                    <div class="col-1 d-flex justify-content-end">
                      <mat-divider vertical style="height: 100%;"></mat-divider>
                    </div>
                    <div class="col-5 not-mobile" >
                      <mat-form-field appearance="outline" class="input-mob" style="width: 100%; font-size: 16px; height: 80px;">
                        <mat-icon matPrefix class="ico-search"></mat-icon>
                        <mat-label>Buscar por número de orden</mat-label>
                        <input matInput formControlName="numeroOrden" id="inputOrden" name="tituloPaquete"
                          (keyup)="actionDisabledFecha()" />
                        <!-- <mat-error *ngIf="!form.controls['tituloPaquete'].valid && form.controls['tituloPaquete'].touched">
                      {{ getError() }}
                    </mat-error> -->
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 btns-busq">
                      <button mat-button class="btn-utaxme-secondary btn-reg not-mobile"
                        (click)="limpiarTabla()">
                        Regresar
                      </button>
                      <button mat-button class="btn-utaxme btn-busq-cfdi"
                        style=""
                        (click)="listaCfdi()">
                        Buscar facturas
                      </button>
                    </div>
                  </div>

                  <div *ngIf="verTabla">
                    <div class="col-12">
                      <mat-divider></mat-divider>
                      <div class="titulo-cuadrante" style="margin-top: 35px; margin-bottom: 53px;">Facturas emitidas
                        (CFDI)</div>
                      <mat-divider></mat-divider>
                    </div>
                    <table aria-describedby="tabla" class="table table-responsive table-striped">
                      <thead style="margin-bottom: 10px;">
                        <tr class="textoM">
                          <th class="punta-tittle tab-colum" style="text-align: center;">
                            <span style="cursor:default!important;">
                              N° DE ORDEN
                            </span>
                          </th>
                          <th class="punta-tittle " style="text-align: center;">
                            <span style="cursor:default!important;">
                              RFC RECEPTOR
                            </span>
                          </th>
                          <th class="punta-tittle tab-colum" style="text-align: center;">
                            <span style="cursor:default!important;">
                              FECHA EMISIÓN
                            </span>
                          </th>
                          <th class="punta-tittle" style="text-align: center;">
                            <span style="cursor:default!important;">
                              TOTAL
                            </span>
                          </th>
                          <th class="punta-tittle" style="text-align: center;">
                            <span style="width: 70px; cursor:default!important;">
                              CANCELACIÓN
                            </span>
                          </th>
                        </tr>
                      </thead>
                      <tbody class="table-scroll" style="border: solid 1px #ffffff; ">
                        <tr *ngFor="let item of tablaCfdi">
                          <td class="tab-colum" style="text-align: center; vertical-align: middle;">
                            {{item.referencia}}
                          </td>
                          <td  style="text-align: center; vertical-align: middle;">
                            {{item.rfcReceptor}}
                          </td>
                          <td class="tab-colum" style="text-align: center; vertical-align: middle;">
                            {{item.fechaTimbrado | date:'shortDate'}}
                          </td>
                          <td class="" style="text-align: center; vertical-align: middle;">
                            $ {{item.total | thousandsPipe}}
                          </td>
                          <td class="">
                            <div class="d-flex justify-content-center">
                              <div class="icon-detalle d-flex justify-content-center" (click)="cancelar(item)">
                                <div class="img-cancelacion" style="padding-right: 15px;">&nbsp; </div>
                              </div>
                            </div>
                            
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="col-12" style="margin-top: 13px;">
                      <mat-divider></mat-divider>
                    </div>
                    <div class="col-12" *ngIf="tablaCfdi?.length> 0">
                      <div class="col-6 textoM"
                        style="margin: 0; padding: 0; font-weight: 600; font-size: 10px; letter-spacing: 3px; color: #7B8AA0; padding-top: 7px;">
                        Mostrando pág {{ this.pager?.current }} de {{ this.pager?.total }} de
                        {{ this.pager?.data.length }} resultados
                      </div>
                      <div class="col 6">
                        <app-pager [pageModel]="pager" (paged)="onPaged($event)" style="float: right;"></app-pager>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="verNoEncontrados" style="min-height: 250px; padding: 0 40px;  display: flex; align-items: center;">
                      <app-filter-error (clickReturn)="limpiarTabla()"></app-filter-error>
                  </div>


                </div>
              </div>
            </form>
          </div>
          <div class="col-1 not-mobile"></div>
        </div>
      </div>
    </div>
  </div>
</div>