  .home-container{
    width: 100%!important;
    margin: 0;
    padding: 0;
  }

  .icon-header{
    width: 22px; 
    margin: 0; 
    padding: 0;
  }
  
  .titulo-proceso{
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #0B112A;
  }
  
  .subtitulo-proceso{
    font-weight: 400;
    font-size: 16px;
    color: #7B8AA0;
    margin-top: 5px;
  }
  
  .bienvenida-cliente{
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #3B4559;
  }

  .titulo-formulario{
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .content-form{
    width: 100%; 
    background-color: #FFFFFF; 
    min-height: 565px;
    margin-left: 15px;
  }
  
  .graficos-content{
    width: 365px; 
    height: 326px; 
    background: #C0EEEB; 
    border-radius: 15px;
  }
  
  .btn-accion{
    flex-direction: column; 
    text-align: center; 
    margin-right: 38px; 
    border: 2px solid #E6EDF6; 
    box-shadow: 8px 16px 32px #E6EDF6; 
    border-radius: 4px;
  }
  
  .background-icon{
    background: #E6EDF6; 
    width: 53px; 
    height: 53px; 
    border-radius: 8px;
  }

  .img-accion-borrar {
    background-image: url("src\assets\icon\delete.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: left;
  }

  .image-workspace-back {
    background-image: url("src\assets\icon\workspace-back.svg");
    background-size: 20px 20px;
    background-position: right;
    background-repeat: no-repeat;
  }

  .img-cancelacion {
    background-image: url("src\assets\icon\cancelacion.svg");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: left;
  }

  .icon-detalle{
    width: 40px;
    padding: 8px;
    background: #D3E3FE;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }