.home-container {
  width: 100% !important;
  margin: 0;
  padding: 0;
}

.image-workspace-back {
  background-image: url("src\assets\img\icon\workspace-back.svg");
  background-size: 20px 20px;
  background-position: right;
  background-repeat: no-repeat;
}

.titulo-proceso {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #0B112A;
}

.subtitulo-proceso {
  font-weight: 400;
  font-size: 16px;
  color: #7B8AA0;
  margin-top: 15px;
}

.bienvenida-cliente {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  text-align: right;
  color: #3B4559;
}

.titulo-formulario {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
}


.image-workspace-buscardor {
  background-image: url("src\assets\img\icon\buscar.svg");
  background-size: 24px 24px;
  background-position: right;
  background-repeat: no-repeat;
}

.image-workspace-agregar {
  background-image: url("src\assets\img\icon\crear-black.svg");
  background-size: 24px 24px;
  background-position: right;
  background-repeat: no-repeat;
}

.textoM {
  text-transform: uppercase;
}

.img-accion-borrar {
  background-image: url("src\assets\img\icon\delete.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: left;
}

.img-accion-editar {
  background-image: url("src\assets\img\icon\edit-concepto.svg");
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: left;
}

.card-accion {
  display: flex;
  justify-content: center;
  align-items: center;
  /* System/Info/10 */
  Width: 40px;
  Height: 40px;
  background: #D3E3FE;
  border-radius: 8px;

  cursor: pointer;
  margin: 0 10px;
}


.img-inicio-mas {
  background-image: url("src\assets\img\icon\mas.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-concepto-mb {
  display: none;
}

.btn-concepto {
  max-width: 260px;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;
}

.busq {
  display: flex;
  justify-content: end;
  align-items: center;
}

.cl-inp{
  min-width: 280px; 
  font-size: 12px; 
  height: 48px;
}


.tabla-encabezado{
  margin: 0; 
  font-weight: 600;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.2em;
  color: #000000;
  text-align: center;

  cursor:default!important;
}

.tabla-cuerpo{
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #0B112A;
}