.titulo-cumplimiento{
  font-weight: 600;
  font-size: 24px;
  color: #0B112A;
}

.boton-cumplimiento{
  display: flex;
  justify-content: center;
  margin: 40px 0 10px;
}

.btn-cumplimiento{
   display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 100%;
  min-height: 45px;
  border-radius: 25px;
}

.ver-btns-cumplimiento{
  display: block;
 }

 
@media(max-width: 425px){
  .btn-cumplimiento{
    display: none;
 }

 .ver-btns-cumplimiento{
  display: none;
 }
}