.titulo-cumplimiento{
  font-weight: 600;
  font-size: 24px;
  color: #0B112A;
}

.btn-cumplimiento{
  background: #FFFFFF;
  border: 1px solid #285CED;
  color: #285CED;
  border-radius: 20px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}