<div class="col-xs-12 col-sm-6 col-md-8">
  <div class="page-wrapper" style="margin: 0; padding: 0;">
  <div class="sticky-header">
    <app-header-home></app-header-home>
  </div>
  <div class="content-wrapper disable-scrollbars page-background" >
    <div class="content-home">
      <div class="home-container-accesos" style="margin-top: 30px;">
        <div class="row w100m0p0">
          <div class="col-12">
            <div class="row head-mobile-title">
              <div class="row titulo-menu-cuadrante m0p0">
                <div class="col-1" style="margin: 0; padding: 0;">
                  <div class="image-workspace-back" style="width: 30px; height: 20px; float: right; cursor: pointer;" (click)="regresar()"></div>
                </div>
                <span style="font-weight: 600; width: 200px; font-size: 18px; color: #0B112A;"> Base Gravable</span> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row w100m0p0" style="justify-content: center;">
      <div class="row" style=" display: flex; justify-content: center; align-items: center;">
        <div class="" style="margin: 0; padding: 0; display: flex; justify-content: center; flex-direction: column; align-items: center;">
          <div class="columna-cuadrante2">
            <div class="row">
              <div class="col cuadrante-fiscales">
                <ng-container>
                  <app-cuadrante-fiscales [consultaRequest]="consultaRequest"></app-cuadrante-fiscales>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
</div>