<div class="home-container-generales">
    <div class="row w100m0p0">
        <form [formGroup]="formGenerales">
            <div class="row">
                <div class="col-6">
                    <div class="col-12">
                        <mat-form-field appearance="outline" style="width: 100%; font-size: 16px;">
                            <mat-label>RFC DEL CLIENTE*</mat-label>
                            <input matInput formControlName="rfc" id="rfc" name="rfc"/>
                            <mat-error *ngIf="formulario.rfc.invalid && formulario.rfc.touched && formulario.rfc.errors">
                            <ng-container *ngIf="formulario.rfc.errors.required">
                                {{ getErrorRequerido() }}
                            </ng-container>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-12">
                        <mat-form-field appearance="outline" style="width: 100%; font-size: 16px;">
                            <mat-label>CORREO ELECTRÓNICO*</mat-label>
                            <input matInput formControlName="correo" id="correo" name="correo"/>
                            <mat-error *ngIf="formulario.correo.invalid && formulario.correo.touched && formulario.correo.errors">
                            <ng-container *ngIf="formulario.correo.errors.required">
                                {{ getErrorRequerido() }}
                            </ng-container>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%; font-size: 16px;" (click)="$event.stopPropagation();">
                        <mat-label>REGIMEN FISCAL*</mat-label>
                        <mat-select formControlName="dispositivos"  multiple #selectDispositivo style="height: 100px">
                          <mat-select-trigger>
                            <mat-chip-list #chipList> 
                              <mat-chip *ngFor="let item of formulario.dispositivos.value; let i = index;" [selectable]="selectable" 
                              [removable]="removable" (removed)="removeService(i, item)" style="background-color: #285CED !important;color: #FFFFFF;">
                                {{ item }} 
                                <button matChipRemove *ngIf="removable" style="color: #FFFFFF;">
                                  <mat-icon class="delete-chip"></mat-icon>
                                </button>
                              </mat-chip>
                            </mat-chip-list>
                          </mat-select-trigger>
                          <mat-option class="checknone" style="font-size: 16px;" *ngFor="let item of Options; let i = index" [value]="item.nombre" (click)="selectDispositivo.close();">
                              <mat-icon class="filtroTipoDispositivos"></mat-icon>{{item.nombre}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formulario.dispositivos.invalid && formulario.dispositivos.touched && formulario.dispositivos.errors">
                            <ng-container *ngIf="formulario.dispositivos.errors.required">
                                {{ getErrorRequerido() }}
                            </ng-container>
                            </mat-error>
                      </mat-form-field>
                </div>            
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%; font-size: 16px;">
                        <mat-label>NÚMERO CELULAR*</mat-label>
                        <input matInput formControlName="celular" id="celular" name="celular"/>
                        <mat-error *ngIf="formulario.celular.invalid && formulario.celular.touched && formulario.celular.errors">
                        <ng-container *ngIf="formulario.celular.errors.required">
                            {{ getErrorRequerido() }}
                        </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field appearance="outline" class="example-full-width" style="width: 100%;font-size: 16px;">
                        <mat-label>OBSERVACIONES</mat-label>
                        <textarea matInput formControlName="observaciones" id="observaciones" name="observaciones" placeholder="Ex. It makes me feel..." style="height: 100px"></textarea>
                        <mat-error *ngIf="formulario.observaciones.invalid && formulario.observaciones.touched && formulario.observaciones.errors">
                        <ng-container *ngIf="formulario.observaciones.errors.required">
                            {{ getErrorRequerido() }}
                        </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <button mat-button type="button" class="btn-utaxme-secondary" style="max-width: 120px; font-size: 16px; font-weight: 600; height: 48px;display: flex; align-items: center; justify-content: center; margin: 20px;" (click)="validarGenerales()">
                Cancelar
              </button>
              <button mat-button class="btn-utaxme" style="max-width: 160px; font-size: 16px; font-weight: 600; height: 48px;display: flex; align-items: center; justify-content: center; margin: 20px;" (click)="validarGenerales()">
                Generar CFDI
              </button>
            </div>
          </div>
    </div>
</div>
