<div class="notification">
  <mat-dialog-content>
      <div class="container" style="width: 100%; margin: 0; padding: 0; overflow: hidden;">
          <div class="row" style="width: 100%; margin: 0; padding: 0;">
              <div class="col-6"  style="margin: 0; padding: 0;">
                  <div style="font-size: 19px; font-weight: 600; margin: 10px 0px;">Detalle de deducción</div>
              </div>
              <div class="col-6">
                  <button mat-flat-button style="float: right; position: relative; top: -10px; right: -12px; width: 10px!important;  min-width: unset!important;" (click)="closeDialog()">
                      <mat-icon style="margin-left: -12px!important; margin-top: 6px;">
                          close
                      </mat-icon>
                  </button>
              </div>
          </div>
      </div>
      <mat-divider></mat-divider>
      <div class="container" style="width: 100%; margin: 0; padding: 0; min-height: 100px;">
          <div class="row" style="width: 100%; margin: 0; padding: 0; line-height: 24px; margin-top: 20px;">
              <div class="col-12" style="margin: 0; padding: 0;">
                  <div class="row" class="subtitulo-cuadrante" style="line-height: 5px;">
                    Deducción:
                  </div>
                  <div class="row" class="respuesta-cuadrante" style="margin: 0; padding: 0; margin-top: 10px;">
                    <div class="col-12" style="margin: 0; padding: 0; margin-top: 5px;">
                      <strong>Honorarios médicos, dentales y gastos hospitalarios.</strong> 
                  </div>
                  </div>
              </div>
              <div class="col-12" style="margin: 0; margin-top: 27px; padding: 0;">
                <div class="row" class="subtitulo-cuadrante" style="line-height: 5px;">
                  ¿Para quienes?:
                </div>
                <div class="row" class="texto-cuadrante" style="margin: 0; padding: 0; margin-top: 10px;">
                  <div class="col-12" style="margin: 0; padding: 0; margin-top: 5px;">
                    Los pagados para usted, su cónyuge o concubino/a, sus padres, abuelos, hijos y nietos.
                </div>
                </div>
            </div>
            <div class="col-12" style="margin: 0; margin-top: 27px; padding: 0;">
              <div class="row" class="subtitulo-cuadrante" style="line-height: 5px;">
                Requisitos
              </div>
              <div class="row" class="texto-cuadrante" style="margin: 0; padding: 0; margin-top: 10px;">
                <div class="col-12" style="margin: 0; padding: 0; margin-top: 5px;">
                  ° La factura debe ser proporcionada por personas con titulo profesional legalmente expedido. <br>
                  ° El pago se debió realizar mediante cheque, transferencia electrónica, tarjeta de crédito, de débito o de servicios. <br>
                  ° Incluye: honorarios médicos, dentales, enfermeras, nutriólogos, pscólogos, hospitalarios, análisis, estudios clínicos o prótesis, compra o alquiler de aparatos para rehabilitación, lentes ópticos graduados. <br>
                  ° <strong>Clave de uso de DFDI</strong>: D01 (Honorarios médicos, dentales y gastos hospitalarios) o D02 (Gastos médicos por incapacidad o discapacidad). <br>
              </div>
              </div>
          </div>
          <div class="col-12" style="margin: 0; margin-top: 27px; padding: 0;">
            <div class="row" class="subtitulo-cuadrante" style="line-height: 5px;">
              observaciones
            </div>
            <div class="row" class="texto-cuadrante" style="margin: 0; padding: 0; margin-top: 10px;">
              <div class="col-12" style="margin: 0; padding: 0; margin-top: 5px;">
                Medicinas incluidas en facturas de hospitales (que se incluyan en comprobantes de hospitales, no en comprobantes de farmacias).
            </div>
            </div>
        </div>
        <div class="col-12" style="margin-bottom: 72px; margin-top: 27px; padding: 0;">
          <div class="row" class="subtitulo-cuadrante" style="line-height: 5px;">
            Tope de deducción
          </div>
          <div class="row" class="texto-cuadrante" style="margin: 0; padding: 0; margin-top: 10px;">
            <div class="col-12" style="margin: 0; padding: 0; margin-top: 5px;">
              ° El 15% del total de tus ingresos o de $163,467.00 (5 UMA´s elevadas al año), lo que resulte menor, (excepto gastos médicos por incapacidad y discapacidad). <br>
              ° En lentes graduados $2,500.00 por persona en el ejercicio. 
          </div>
          </div>
      </div>
              
              
              
          </div>
          
   
      </div>
      
      
  </mat-dialog-content>

 
  
  <!-- <mat-dialog-actions>
      <div class="container" style="width: 100%; margin: 0; padding: 0; margin-top: 10px; padding-right: 20px;">
          <div class="row" style="width: 100%; margin: 0; padding: 0;">
              <div class="col-7" style="margin: 0; padding: 0;"></div>
              <div class="col-2">
                  <button type="button" style="height: 45px; font-size: 14px; line-height: 25px;"
                      class="btn-totalplay-secondary" >
                  Cancelar
                  </button>
              </div>
              <div class="col-3">
                  <button type="button" class="btn-totalplay"
                      style="max-width: 170px; height: 45px; font-size: 14px; line-height: 25px;"
                     >
                      Guardar cambios
                  </button>
              </div>
          </div>
      </div>
  </mat-dialog-actions> -->
</div>
