.workspace-container{
  width: 100%!important;
  margin: 0;
  padding: 40px;
}

.equipo-titulo{
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #0B112A;
}

.equipo-subtitulo{
  font-weight: 400;
  font-size: 16px;
  /* margin-bottom: 0px !important; */
  color: #7B8AA0;
  line-height: 24px;
}

.image-workspace-buscardor {
  background-image: url("src\assets\img\icon\buscar.svg");
  background-size: 24px 24px;
  background-position: right;
  background-repeat: no-repeat;
}

.image-workspace-agregar {
  background-image: url("src\assets\img\icon\crear-black.svg");
  background-size: 24px 24px;
  background-position: right;
  background-repeat: no-repeat;
}

.btn-concepto {
  max-width: 260px;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;
}


.equipo-card{
  background-color: #FFFFFF; 
  height: 80px; 
  border: 2px solid #E6EDF6; 
  border-radius: 4px;
  box-shadow: 4px 8px 16px #E6EDF6;

  display: flex;
  flex-wrap: wrap;
}

.equipo-card2{
  background-color: #FFFFFF; 
  height: 80px; 
  border: 2px solid #E6EDF6; 
  border-radius: 4px;
  box-shadow: 4px 8px 16px #E6EDF6;

  display: flex;
  flex-wrap: wrap;
}

.equipo-ico{
  width: 38px; 
  height: 38px; 
  background-color: #E6EDF6; 
  border-radius: 20px; 
  position: relative; 
  top: 10px; 
  left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.equipo-title{
  font-weight: 600;
  word-wrap: break-word;
  position: relative; 
  font-size: 14px;
  top: 10px; 
  left: 20px;
}

.equipo-title-subtitle{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 0px !important;
  color: #7B8AA0;
  line-height: 20px;
}

.equipo-subtitle{
  font-size: 8px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 0px !important;
}

.equipo-detail{
  height: 30px;
  width: 30px;
  position: relative; 
  right: 10px;
  top: 10px; 
  background-color: #D3E3FE;
  border-radius: 8px;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.img-equipo-option-user{
  background-image: url("src\assets\img\icon\usuario-black.svg");
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.img-equipo-option-document{
  background-image: url("src\assets\img\icon\detalle-user.svg");
  background-size: 22px 22px;
  background-position: center;
  background-repeat: no-repeat;
}

