.home-container-cliente{
    width: 100%!important;
    margin: 0;
    padding: 0;
  }

.text {
    width: 348px;
    height: 28px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1D2640;
    margin-bottom: 30px;
    margin-left: 10px;
}

::ng-deep .mat-select-panel:has(.filtroTipoDispositivos2){
  margin-top: 28px !important;
  width: 300px !important;
  min-width: 0px !important;
  margin-left: 605px;
}