.titulo-gatos{
  text-align: center;
  margin-top: 45px;
  font-weight: 400;
  font-size: 18px;
  color: #0B112A;
}

.texto-gatos{
  text-align: center;
  margin-top: 45px;
  font-weight: 700;
  font-size: 18px;
  color: #0B112A;
}

.cuadro-informacion{
  margin-top: 45px;
  min-height: 45px;
  background: #f2f2f2;
  border-radius: 5px;
  font-weight: 400;
  color: #0B112A;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media(max-width: 1920px){
  .cuadro-informacion{
    min-width: 300px;
    font-size: 9px; 
  }
}

.boton-factura{
  display: flex;
  justify-content: center;
  margin: 40px 0 10px;
}

.btn-datos-fiscales{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 283px;
  min-height: 45px;
  border-radius: 25px;
  padding: 0 29px;
}

.spinner{
  margin-left: 75px; 
  height: 1147px; 
  align-items: center;
}