<div class="row view-salud-fiscal">
  <div class="col-12 titulo-cuadrante">
    Datos Fiscales
  </div>

  <div class="col-12" style="margin-top: 45px;">
    <div class="subtitulo-cuadrante">REGIMEN FISCAL</div>
    <div class="respuesta-cuadrante">{{ response?.regimenFiscal }}</div>
  </div>
  <div class="col-12" style="margin-top: 29px;">
    <div class="subtitulo-cuadrante">RAZÓN SOCIAL</div>
    <div class="respuesta-cuadrante">{{ response?.razonSocial }}</div>
  </div>
  <div class="col-12" style="margin-top: 29px;">
    <div class="subtitulo-cuadrante">RFC</div>
    <div class="respuesta-cuadrante">{{ response?.rfc }}</div>
  </div>
  <div class="col-12" style="margin-top: 29px;">
    <div class="subtitulo-cuadrante">CORREO ELECTRÓNICO</div>
    <div class="respuesta-cuadrante">{{ response?.emailPrincipal }}</div>
  </div>
  <div class="col-12" style="margin-top: 29px;">
    <div class="subtitulo-cuadrante">DIRECCIÓN FISCAL</div>
    <div class="respuesta-cuadrante">{{ response?.calle}} {{response?.numeroExterior}}, {{response?.colonia}} C.P. {{response?.cp}}, {{response?.municipio}}, {{response?.ciudad}}</div>
  </div>
  <div class="col-12 d-flex justify-content-center boton-datos-fiscales" style="margin-top: 29px;">
      <button type="button" class="btn-utaxme-secondary btn-factura" (click)="verConstancia()">
        <div class="image-download image-size-22" style="padding-right: 22px;">&nbsp; </div>  
        Descargar constancia
      </button>
  </div>
  <div class="col-12" style="margin-top: 30px;">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="row d-flex align-items-center direccion-mobile">
  <div class="col-6 titulo-cuadrante view-salud-fiscal" style="margin-top: 30px;">
    Salud Fiscal
  </div>
  <div class="col-xl-6 col-sm-12 fecha-mobile" style="margin-top: 30px;">
    <mat-form-field appearance="outline" style="width: 100%; font-size: 14px; height: 70px;">
      <mat-label>Periodo fiscal</mat-label>
      <mat-select  id="diasCredito" name="diasCredito">
        <mat-option>
          Selecciona una escala 
        </mat-option>
        <mat-option value="Abril 2023" (click)="tipoPeriodo = true">
          Abril 2023
        </mat-option>
        <mat-option value="Enero a Abril 2023" (click)="tipoPeriodo = false">
          Enero a Abril 2023
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-12 titulo-gatos">
    Egresos vs Ingresos
  </div>

  <div class="col-12 texto-gatos">
    ${{ baseGravable.egresos | thousandsPipe }}<span style="color: #838383"> / ${{ baseGravable.ingresos | thousandsPipe }}</span> 
  </div>

  <div class="col-12 centrado-mobile" style="margin-top: 10px;">
    <app-velocimetro 
    [sizex]="width > 1440 ? 410 : 310" [size]="width > 1440 ? 400 : 300"  [sizey]="width > 1440 ? 235 : 180" 
    [ringWidth]="width > 1440 ? 60 : 40" 
    fontSize="14px"  [value]="speedValue"
    [proportion]="width > 1440 ? 1.3 : 1" [positionText]="width > 1440 ? [35, 205, 325, 205] : [226, 155, 45, 155]" 
    color="#0B112A" secondary="#EEF1F8" color-label="#0B112A" 
    
    ></app-velocimetro>

  </div>

  <div class="col-12 titulo-gatos">
    <ng-container *ngIf="!tipoPeriodo">
      Utilidad del año fiscal: ${{ baseGravable.utilidad | thousandsPipe }}
    </ng-container>
    <ng-container *ngIf="tipoPeriodo">
      Utilidad mensual fiscal: ${{ baseGravable.utilidad | thousandsPipe }}
    </ng-container>
  </div>

  <div class="col-12 m-5-info">
    <div class="cuadro-informacion">
      <mat-icon class="image-dashboard-info image-size-22"></mat-icon>
      Estas gastando el {{baseGravable.porcentaje}}% del total de tu ingresos facturados
    </div>
  </div>
</div>