<div class="row view-salud-fiscal">
  <div class="col-12 titulo-cuadrante">
    Datos Fiscales
  </div>

  <div class="col-12" style="margin-top: 45px;">
    <div class="subtitulo-cuadrante">REGIMEN FISCAL</div>
    <div class="respuesta-cuadrante">{{ response?.regimenFiscal }}</div>
  </div>
  <div class="col-12" style="margin-top: 29px;">
    <div class="subtitulo-cuadrante">RAZÓN SOCIAL</div>
    <div class="respuesta-cuadrante">{{ response?.razonSocial }}</div>
  </div>
  <div class="col-12" style="margin-top: 29px;">
    <div class="subtitulo-cuadrante">RFC</div>
    <div class="respuesta-cuadrante">{{ response?.rfc }}</div>
  </div>
  <div class="col-12" style="margin-top: 29px;">
    <div class="subtitulo-cuadrante">CORREO ELECTRÓNICO</div>
    <div class="respuesta-cuadrante">{{ response?.emailPrincipal }}</div>
  </div>
  <div class="col-12" style="margin-top: 29px;">
    <div class="subtitulo-cuadrante">DIRECCIÓN FISCAL</div>
    <div class="respuesta-cuadrante">{{ response?.calle}} {{response?.numeroExterior}}, {{response?.colonia}} C.P. {{response?.cp}}, {{response?.municipio}}, {{response?.ciudad}}</div>
  </div>
  <div class="col-12 d-flex justify-content-center boton-datos-fiscales" style="margin-top: 29px;">
      <button type="button" class="btn-utaxme-secondary btn-factura" (click)="verConstancia()">
        <div class="image-download image-size-22" style="padding-right: 22px;">&nbsp; </div>  
        Descargar constancia
      </button>
  </div>
  <div class="col-12" style="margin-top: 30px;">
    <mat-divider></mat-divider>
  </div>
</div>
<div class="row d-flex align-items-center direccion-mobile">
  <div class="col-6 titulo-cuadrante view-salud-fiscal" style="margin-top: 30px;">
    Salud Fiscal
  </div>
  <div class="col-xl-6 col-sm-12 fecha-mobile" style="margin-top: 30px;">
    <mat-form-field appearance="outline" style="width: 100%; font-size: 14px; height: 70px;">
      <mat-label>Periodo fiscal</mat-label>
      <mat-select  id="diasCredito" name="diasCredito" [(ngModel)]="selectedValue">
        <mat-option disabled>
          Selecciona una escala 
        </mat-option>
        <mat-option [value]="fechaActual" (click)="tipoPeriodo = true; obtenerSaludFiscal()">
          {{fechaActual}}
        </mat-option>
        <mat-option [value]="'Enero a ' + fechaActual" (click)="tipoPeriodo = false; obtenerSaludFiscal()" selected>
          {{'Enero a ' + fechaActual}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-12 titulo-gatos">
    Egresos vs Ingresos
  </div>

  <div class="col-12 texto-gatos">
    ${{ baseGravable.egresos | thousandsPipe }}<span style="color: #838383"> / ${{ baseGravable.ingresos | thousandsPipe }}</span> 
  </div>

  <div class="col-12 centrado-mobile" style="margin-top: 10px; display: flex;
    justify-content: center;">
    <app-velocimetro 
    [sizex]="width > 1840 ? 415 : width < 1440 ? 250 : 300" 
    [sizey]="width > 1840 ? 240 : width < 1440 ? 140 : 180" 
    [size]="width > 1840 ? 412 : width < 1440 ? 247 : 295"  
    [ringWidth]="width < 1440 ? 25 : 40"
    [proportion]="width < 1440 ? 0.8 : 1.1"
    [positionText]="width > 1840 ? [45, 205, 325, 205] : width < 1440 ? [25, 120, 165, 120] : [35, 155, 216 , 155]" 
    fontSize="14px"  [value]="speedValue"
    color="#0B112A" secondary="#EEF1F8" color-label="#0B112A" 
    
    ></app-velocimetro>

  </div>

  <div class="col-12 titulo-gatos">
    <ng-container *ngIf="tipoPeriodo">
      Utilidad del año fiscal: ${{ baseGravable.utilidad | thousandsPipe }}
    </ng-container>
    <ng-container *ngIf="!tipoPeriodo">
      Utilidad mensual fiscal: ${{ baseGravable.utilidad | thousandsPipe }}
    </ng-container>
  </div>

  <div class="col-12">
    <div class="cuadro-informacion">
      <mat-icon class="image-dashboard-info image-size-22"></mat-icon>
      Estas gastando el {{baseGravable.porcentaje}}% del total de tu ingresos facturados
    </div>
  </div>
</div>