<div class="row">
  <div class="col-12 titulo-cuadrante">
    Datos Fiscales
  </div>

  <div class="col-12" style="margin-top: 45px;">
    <div class="subtitulo-cuadrante">REGIMEN FISCAL</div>
    <div class="respuesta-cuadrante">{{ datosFiscales.regimen }}</div>
  </div>
  <div class="col-12" style="margin-top: 29px;">
    <div class="subtitulo-cuadrante">RAZÓN SOCIAL</div>
    <div class="respuesta-cuadrante">{{ datosFiscales.razon }}</div>
  </div>
  <div class="col-12" style="margin-top: 29px;">
    <div class="subtitulo-cuadrante">RFC</div>
    <div class="respuesta-cuadrante">{{ datosFiscales.rfc }}</div>
  </div>
  <div class="col-12" style="margin-top: 29px;">
    <div class="subtitulo-cuadrante">CORREO ELECTRÓNICO</div>
    <div class="respuesta-cuadrante">{{ datosFiscales.correo }}</div>
  </div>
  <div class="col-12" style="margin-top: 29px;">
    <div class="subtitulo-cuadrante">DIRECCIÓN FISCAL</div>
    <div class="respuesta-cuadrante">{{ datosFiscales.direccion }}</div>
  </div>
  <div class="col-12 d-flex justify-content-center" style="margin-top: 29px;">
      <button mat-fab extended class="btn-datos-fiscales" style="width: 283px;">
        <div class="image-download" style="padding-right: 22px; padding-left: 6px;">&nbsp; </div>  
        Descargar constancia
      </button>
  </div>
  <div class="col-12" style="margin-top: 18px;">
    <mat-divider></mat-divider>
  </div>
</div>

<div class="row">
  <div class="col-12 titulo-cuadrante">
    Base Gravable
  </div>

</div>