.titulo-gatos{
  text-align: center;
  margin-top: 35px;
  font-weight: 600;
  font-size: 16px;
  color: #0B112A;
}

.texto-gatos{
  text-align: center;
  margin-top: 45px;
  font-weight: 700;
  font-size: 18px;
  color: #0B112A;
}

.cuadro-informacion{
  margin-top: 10px;
  min-height: 45px;
  background: #f2f2f2;
  border-radius: 5px;
  font-weight: 400;
  color: #0B112A;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.boton-factura{
  display: flex;
  justify-content: center;
  margin: 40px 0 10px;
}

.btn-datos-fiscales{
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 283px;
  min-height: 45px;
  border-radius: 25px;
  padding: 0 29px;
}

.btn-factura{
  height: 45px; 
  display: flex; 
  align-items: center; 
  justify-content: space-evenly;
  margin: 0 10px;
  border-radius: 25px !important;
}

.view-salud-fiscal{
  display: block;
}

.content-wrapper {
  overflow: scroll;
}


::ng-deep .periodo-fiscal .mat-select-arrow {
  border: 0;
}


@media(max-width: 1920px){
  .cuadro-informacion{
    font-size: 9px; 
  }

}

@media(max-width: 450px){
   .view-salud-fiscal{
    display: none;
  }

  .centrado-mobile{
    text-align-last: center;
  }
  .direccion-mobile{
    flex-direction: column;
    margin-top: 20px;
  }

  .fecha-mobile{
 margin-left: 5px;
  }

  .m-5-info{
margin-left: 5px;
  }

  .content-wrapper {
    overflow: hidden !important;
  }
}

