<div class="workspace-container">
  <div class="row">
    <div class="col-5"></div>
    <div class="col-7">
      <div class="respuesta-cuadrante">Adminstración de Clientes</div>
      <div class="texto-cuadrante" style="margin-top: 10px;">
        Crea y enviar facturas a tus clientes. Puedes dar de alta clientes <br> 
        frecuentes y crear facturas en solo segundos.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="graficos-content" style="margin-top: 20px;">
        <img src="../../../../assets/img/Graficos_Dashboard2 1.png" alt="">
      </div>
    </div>
    <div class="col-7">
        <div class="row btns-mob">
          <div class="col-6">
            <div class="btn-accion" (click)="administracionClientes()">
              <div class="row background-icon">
                <div class="image-nueva-factura">&nbsp;</div>
              </div>
              <div class="row">
                <span class="respuesta-cuadrante">
                  Administración de <br> Clientes
                </span>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="btn-accion" (click)="declaracionesPendientes()">
              <div class="row background-icon">
                <div class="image-crear-prod-serv">&nbsp;</div>
              </div>
              <div class="row" >
                <span class="respuesta-cuadrante">
                  Declaraciones <br> Pendientes
                </span>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="btn-accion" (click)="cumplimientoFiscal()">
              <div class="row background-icon">
                <div class="image-cliente-frecuente">&nbsp;</div>
              </div>
              <div class="row">
                <span class="respuesta-cuadrante">
                  Cumplimiento <br> Fiscal
                </span>
              </div>
            </div>
          </div>

          <div class="col-6">
            <div class="btn-accion" (click)="administracionPagos()">
              <div class="row background-icon">
                <div class="image-cancelar-factura" >&nbsp;</div>
              </div>
              <div class="row">
                <span class="respuesta-cuadrante">
                  Administración de <br> Pagos
                </span>
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>
