<div class="page-wrapper" style="margin: 0; padding: 0;">
  <div class="sticky-header">
    <app-header-home></app-header-home>
  </div>
  <div class="content-wrapper disable-scrollbars page-background" style="overflow: scroll;">
    <div class="content-home">
      <div class="home-container-accesos" style="margin-top: 30px;">
        <div class="row w100m0p0">
          <div class="col-12">
            <div class="row">
              <div class="col-1" style="width: 45px;">
                <div class="img-inicio-home">&nbsp;</div>
              </div>
              <div class="col-11 m0p0">
                <span style="font-weight: 400; font-size: 18px; color: #0B112A;">| CONTABILIDAD</span> 
                <br>
                <span style="font-weight: 600; font-size: 11px; color: #838383; margin-left: 10px;">Última actualización: 27 feb 05:49 pm</span>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row disable-scrollbars" style="margin-top: 50px;">
          <div class="columna-cuadrante1">
            <div class="container">
              <div class="row cuadrante1">
                <div class="col-8">
                  <span style="font-weight: 500; font-size: 40px; color: #0B112A; line-height: 50px; text-transform: capitalize;">Bienvenido, {{usuario.nombre + '' + usuario.apellidos}}</span>
                  <br>
                  <span style="color: #838383; font-weight: 500; font-size: 16; line-height: 20px;">Gestiona tus actividades:</span>
                </div>
                <div class="col-4 calendario-dashboard">

                  <mat-form-field appearance="outline" >
                    <mat-label>Periodo fiscal</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="date" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp
                                    startView="multi-year"
                                    (yearSelected)="chosenYearHandler($event)"
                                    (monthSelected)="chosenMonthHandler($event, dp)"
                                    panelClass="example-month-picker">
                    </mat-datepicker>
                  </mat-form-field>

                </div>
              </div>
              <div class="row" style="margin: 45px 0 35px;">
                <div class="col-4">
                  <div class="row boton-enlace m0p0">
                    <div class="col-3">
                      <mat-icon class="image-edit-doc image-size-22"></mat-icon>
                    </div>
                    <div class="col-9">Crear Factura</div>
                  </div>
                </div>
  
                <div class="col-4" (click)="contacto()">
                  <div class="row boton-enlace m0p0">
                    <div class="col-3">
                      <mat-icon class="image-user-call image-size-22"></mat-icon>
                    </div>
                    <div class="col-9">Contactar Contador</div>
                  </div>
                </div>
                
                <div class="col-4">
                  <div class="row boton-enlace m0p0">
                    <div class="col-3">
                      <mat-icon class="image-cancel-doc image-size-22"></mat-icon>
                    </div>
                    <div class="col-9">Cancelar Factura</div>
                  </div>
                </div>
  
              </div>
            </div>

            <div class="row">
              <div class="col"
                style="background-color: #FFFFFF; width: 975px; height: 351px; margin-bottom: 39px;  border-radius: 15px; padding: 15px 12px;">
                <app-cuadrante-ingresos [consultaRequest]="requestDashboard"></app-cuadrante-ingresos>
              </div>
            </div>
            <div class="row">
              <div class="col"
                style="background-color: #FFFFFF; width: 975px; height: 351px; margin-bottom: 39px; border-radius: 15px; padding: 15px 12px;">
                <app-cuadrante-gastos [consultaRequest]="requestDashboard"></app-cuadrante-gastos>
              </div>
            </div>
            <div class="row">
              <div class="col"
                style="background-color: #FFFFFF; width: 975px; height: 546px; margin-bottom: 39px; border-radius: 15px; padding: 15px 12px;">
                <app-cuadrante-deducciones [consultaRequest]="requestDashboard"></app-cuadrante-deducciones>
              </div>
            </div>
          </div>

          <div class="columna-cuadrante2">
            <div class="row">
              <div class="col"
                style="background-color: #FFFFFF; width: 489px; height: 424px; margin-bottom: 39px; border-radius: 15px; padding: 15px 12px;">
                <app-cuadrante-cumplimiento [consultaRequest]="requestDashboard"></app-cuadrante-cumplimiento>
              </div>
            </div>
            <div class="row">
              <div class="col"
                style="background-color: #FFFFFF; width: 489px; height: 1147px; margin-bottom: 39px; border-radius: 15px; padding: 15px 12px;">
                <app-cuadrante-fiscales [consultaRequest]="requestDashboard"></app-cuadrante-fiscales>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>