<div class="col-xs-12 col-sm-6 col-md-8">
  <div class="page-wrapper" style="margin: 0; padding: 0;">
  <div class="sticky-header">
    <app-header-home></app-header-home>
  </div>
  <div class="content-wrapper disable-scrollbars page-background" style="overflow: scroll;">
    <div class="content-home">
      <div class="home-container-accesos" style="margin-top: 30px;">
        <div class="row w100m0p0">
          <div class="col-12">
            <div class="row head-mobile-title">
              <div class="col-1" style="width: 45px;">
                <div class="img-inicio-home">&nbsp;</div>
              </div>
              <div class="col-11 m0p0">
                <span style="font-weight: 400; font-size: 18px; color: #0B112A;">| CONTABILIDAD</span> 
                <br>
                <span style="font-weight: 600; font-size: 11px; color: #838383; margin-left: 10px;">Última actualización: 27 feb 05:49 pm</span>
              </div>
            </div>
          </div>
        </div>

        <div class=" disable-scrollbars style-desk" style="">
          <div class="columna-cuadrante1">
            <div class="container">
              <div class="row cuadrante1 otro-style" >
                <div class="col-8  aling-head">
                  <span class="bienvenido-usuario" style="">Bienvenido, {{usuario.nombre + '' + usuario.apellidos}}</span>
                  <br>
                  <span class="gestiona" style="">Gestiona tus actividades:</span>
                </div>

                <div class="btn-cfdi-mobile">
                  <div class="d-flex justify-content-between" style="padding: 0;">
                    <button mat-button class="btn-utaxme"
                      style="max-width: 132px; font-size: 14px; font-weight: 500; height: 48px;display: flex; align-items: center; justify-content: center; border-radius: 4px !important;"
                      (click)="crearFactura()"
                      >
                      <mat-icon class="image-edit-doc-blanco image-size-22" ></mat-icon>
                      Crear factura
                    </button>
                    <button mat-button class="btn-utaxme"
                      style="max-width: 175px; font-size: 14px; font-weight: 500; height: 48px;display: flex; align-items: center; justify-content: center; border-radius: 4px !important;"
                      (click)="contacto()"
                      >
                      <mat-icon class="image-user-call-blanco image-size-22"></mat-icon>
                      Contactar Contador
                    </button>
                  </div>
                </div>
                  <mat-divider></mat-divider>

                <div class="col-4 calendario-dashboard ">

                  <mat-form-field appearance="outline"  class="input-mobile">
                    <mat-label>Periodo fiscal</mat-label>
                    <input matInput [matDatepicker]="dp" [formControl]="date" [max]="maxDate" class="font-blue">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp
                                    startView="multi-year"
                                    (yearSelected)="chosenYearHandler($event)"
                                    (monthSelected)="chosenMonthHandler($event, dp)"
                                    panelClass="example-month-picker">
                    </mat-datepicker>
                  </mat-form-field>

                </div>
              </div>
              <div class="row style-btn-mobile" style="margin: 45px 0 35px;">
                <div class="col-4" (click)="nuevaFactura()">
                  <div class="row boton-enlace m0p0">
                    <div class="internal">
                    <div class="col-3">
                      <mat-icon class="image-edit-doc image-size-22" (click)="crearFactura()"></mat-icon>
                    </div>
                    <div class="col-9">Crear Factura</div>
                    </div>
                  </div>
                </div>
  
                <div class="col-4 " (click)="contacto()">
                  <div class="row boton-enlace m0p0">
                    <div class="internal">
                      <div class="col-3 " >
                        <mat-icon class="image-user-call image-size-22"></mat-icon>
                      </div>
                      <div class="col-9">Contactar Contador</div>
                    </div>
                     
                  </div>
                </div>
                
                <div class="col-4" (click)="cancelarFactura()">
                  <div class="row boton-enlace m0p0">
                    <div class="internal">
                    <div class="col-3">
                      <mat-icon class="image-cancel-doc image-size-22"></mat-icon>
                    </div>
                    <div class="col-9">Cancelar Factura</div>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>

            <div class="row">
              <div class="col cuadrante-ingresos">
                <ng-container *ngIf="!spinnerLoadingIngresos">
                  <app-cuadrante-ingresos [data]="ingresosPeriodo"></app-cuadrante-ingresos>
                </ng-container>
                <div *ngIf="spinnerLoadingIngresos" style="min-height: 350px;" class="d-flex justify-content-center align-items-center">
                  <mat-spinner [diameter]="30"></mat-spinner>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col cuadrante-gastos">
                <ng-container *ngIf="!spinnerLoadingIngresos">
                  <app-cuadrante-gastos [data]="gastosPeriodo" [consultaRequest]="requestDashboard"></app-cuadrante-gastos>
                </ng-container>
                <div *ngIf="spinnerLoadingIngresos" style="min-height: 350px;" class="d-flex justify-content-center align-items-center">
                  <mat-spinner [diameter]="30"></mat-spinner>
                </div>
              </div>
              <div class="btn-cfdi-mobile" style="margin-bottom: 39px;">
                <div class="" style="padding: 0;">
                  <button mat-button class="btn-utaxme"
                    style="width: 100%; font-size: 14px; font-weight: 500; height: 48px;display: flex; align-items: center; justify-content: center; border-radius: 15px !important;"
                    (click)="descargarExcel()"
                    >
                    <mat-icon class="image-dashboard-descargar-blanco image-size-22"></mat-icon>
                    Descargar gastos
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col cuadrante-deducciones">
                <app-cuadrante-deducciones [consultaRequest]="requestDashboard"></app-cuadrante-deducciones>
              </div>
            </div>
          </div>
          <div class="columna-cuadrante2">
            <div class="row">
              <div class="col cuadrante-cumplimiento">
                <ng-container *ngIf="!spinnerLoadingCumplimiento">
                  <app-cuadrante-cumplimiento [data]="cumplimientoFiscal"></app-cuadrante-cumplimiento>
                </ng-container>
                <div *ngIf="spinnerLoadingCumplimiento" style="min-height: 400px;" class="d-flex justify-content-center align-items-center">
                  <mat-spinner [diameter]="30"></mat-spinner>
                </div>
              </div>
            </div>

            <div class="btn-cfdi-mobile">
              <div class="" style="padding: 0;">
                <button mat-button class="btn-utaxme"
                  style="width: 100%; font-size: 14px; font-weight: 500; height: 48px;display: flex; align-items: center; justify-content: center; border-radius: 15px !important;"
                  (click)="verAcuse()"
                  >
                  <mat-icon class="image-ver-acuse-blanco image-size-22" ></mat-icon>
                  Ver acuse
                </button>
                <div class=" boton-cumplimiento">
                  <button type="button" class="btn btn-outline-primary btn-cumplimiento" 
                  (click)="verOpinion()">
                    <div class="image-ver-opinion image-size-22" style="padding-right: 22px;">&nbsp; </div>  
                    Ver opinión
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col cuadrante-fiscales">
                <ng-container *ngIf="!spinnerLoadingIngresos">
                  <app-cuadrante-fiscales [consultaRequest]="requestDashboard"></app-cuadrante-fiscales>
                </ng-container>
                <div *ngIf="spinnerLoadingIngresos" style="min-height: 1000px;" class="d-flex justify-content-center align-items-center">
                  <mat-spinner [diameter]="30"></mat-spinner>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>