<div class="page-wrapper" style="margin: 0; padding: 0;">
  <div class="sticky-header">
    <app-header-home></app-header-home>
  </div>
  <div class="content-wrapper" style="background-color: #F4F4F4">
    <div class="content-home">
      <div class="home-container-accesos" style="margin-top: 30px;">
        <div class="row w100m0p0">
          <div class="col-5">
            <div class="row w100m0p0">
              <div class="col-1" style="width: 22px; margin: 0; padding: 0;">
                <div class="img-inicio-home">&nbsp;</div>
              </div>
              <div class="col"
                style="margin: 0; padding: 0; padding-top: 1px; padding-left: 5px; font-weight: 500; font-size: 22px; color: #0B112A;">
                | CONTABILIDAD
              </div>

              <div class="row">
                <div class="col" style="margin: 0; padding: 0; color: #7B8AA0; font-weight: 400;">
                  Última actualización: 27 feb 05:49 pm
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex flex-row" style="margin-top: 51px;">
          <div class="" style="width: 75%; padding: 0px 27px;">

            <div class="row">
              <div class="col" style="width: 299px; height: 98px; ">
                <div class="row" style="margin: 0; padding: 0; font-weight: 600; font-size: 40px; color: #0B112A;">
                  Bienvenido, Raúl Borunda
                </div>
                <div class="row " style="margin: 0; padding: 0; color: #7B8AA0; font-weight: 400; font-size: 19;">
                  Gestiona tus actividades:
                </div>
              </div>
              <div class="col d-flex justify-content-end" style="align-items: center; width: 299px; height: 98px; ">
                <button mat-button class="btn-totalplay"
                  style=" text-align: right; max-width: 170px; font-size: 14px; width: 158px; height: 48px; line-height: 40px;">
                  2023 - 01
                </button>
              </div>
            </div>

            <div class="row" style="margin-top: 49px;">
              <div class="col d-flex justify-content-center"
                style="background-color: #FFFFFF; align-items: center; width: 299px; height: 98px; margin-bottom: 39px; font-size: 18px; margin-right: 39px; border-radius: 8px; padding: 15px 12px;">
                <P>Crear Factura</P>
              </div>
              <div class="col d-flex justify-content-center"
                style="background-color: #FFFFFF; align-items: center; width: 299px; height: 98px; margin-bottom: 39px; font-size: 18px; margin-right: 39px; border-radius: 8px; padding: 15px 12px;">
                <P>Contactar Contador</P>
              </div>
              <div class="col d-flex justify-content-center"
                style="background-color: #FFFFFF; align-items: center; width: 299px; height: 98px; font-size: 18px; border-radius: 8px; padding: 15px 12px;">
                <P>Cancelar Factura</P>
              </div>
            </div>

            <div class="row">
              <div class="col"
                style="background-color: #FFFFFF; width: 975px; height: 351px; margin-bottom: 39px;  border-radius: 15px; padding: 15px 12px;">
                <p>Ingresos del periodo</p>
              </div>
            </div>
            <div class="row">
              <div class="col"
                style="background-color: #FFFFFF; width: 975px; height: 351px; margin-bottom: 39px; border-radius: 15px; padding: 15px 12px;">
                <p>Gastos del periodo</p>
              </div>
            </div>
            <div class="row">
              <div class="col"
                style="background-color: #FFFFFF; width: 975px; height: 351px; margin-bottom: 39px; border-radius: 15px; padding: 15px 12px;">
                <p>Deducciones</p>
              </div>
            </div>
          </div>
          <div class="" style="width: 25%; padding: 0px 27px;">
            <div class="row">
              <div class="col"
                style="background-color: #FFFFFF; width: 489px; height: 424px; margin-bottom: 39px; border-radius: 15px; padding: 15px 12px;">
                <p>Cumplimiento Fiscal</p>
              </div>
            </div>
            <div class="row">
              <div class="col"
                style="background-color: #FFFFFF; width: 489px; height: 953px; margin-bottom: 39px; border-radius: 15px; padding: 15px 12px;">
                <p>Datos Fiscales</p>
                <p>regimen fiscal</p>
                <p>Actividades Empresariales con Ingresos a través de Plataformas Tecnológicas</p>
                <p>razón social</p>
                <p>Alix Perez Perez</p>
                <p>RFC</p>
                <p>PECA974345J44</p>
                <p>correo electrónico</p>
                <p>alezrr@mailito.com</p>
                <p>dirección fiscal</p>
                <p>Constitución 401, San Pablo Chimalpa C.P. 09455, Cuajimalpa de Morelos, CDMX</p>
                <div style="border-color:#285CED;">Descargar constancia</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>