<div class="modal-cfdi">
  <mat-dialog-content>
      <div class="container" style="width: 100%; margin: 0; padding: 0; overflow: hidden;">
          <div class="row" style="width: 100%; margin: 0; padding: 0;">
            <div class="col-2">
              <button mat-icon-button style="float: right; position: relative;" (click)="closeDialog()">
                  <mat-icon class="img-close"></mat-icon>
              </button>
          </div>  
            <div class="col-10"  style="padding: 0; display: flex; align-items: center;">
                <span class="dialog-titulo">Cancelar CFDI</span> 
              </div>
             
          </div>
      </div>
  </mat-dialog-content>
  
  <mat-dialog-actions>
      <div class="container" style="margin: 0; padding: 20px 30px;">

        

        <form [formGroup]="form" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
          <div class="row w100m0p0" style="margin-top: 2%;">
            <div class="col-4"></div>
          </div>
          <div class=" w100m0p0" style="margin-top: 1%;">
            <div class="col-12" style="margin-top: 3%;">
              <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;" >
                <mat-label class="textoM">número de orden</mat-label>
                <input matInput formControlName="nOrden" id="nOrden" name="nOrden">
              </mat-form-field>
            </div>
            <div class="col-12" style="margin-top: 3%;">
              <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;">
                <mat-label class="textoM">Selecciona motivo de cancelación</mat-label>
                <mat-select formControlName="motivoCancelacion" id="motivoCancelacion" name="motivoCancelacion"
                [(ngModel)]="selectedMotivo" (ngModelChange)="actionMostrarSelect()">
                  <mat-option *ngFor="let item of catalogo" [value]="item.descripcion">
                    {{item.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12" style="margin-top: 3%;" *ngIf="mostrarListCfdi">
              <mat-form-field appearance="outline" style="width: 100%; font-size: 16px; height: 80px;" >
                <mat-label class="textoM">Selecciona número de orden nuevo</mat-label>
                <mat-select formControlName="nOrdenNuevo" id="nOrdenNuevo" name="nOrdenNuevo"
                [(ngModel)]="selectedNewOrder" (ngModelChange)="actionNuevaOrden()" (click)="mostrarInfoB()">
                  <mat-option *ngFor="let item of tablaListaCfdiFecha" [value]="item.referencia" >
                    {{item.referencia}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              
              
            </div>
            
            <div *ngIf="mostrarInfo" class="" style="max-width: 540px;">
              <div class="col-12 textoM" style="margin-top: 3%;">
                <div class="respuesta-cuadrante">Datos del nuevo CFDI</div>
              </div>
              <div class="row w100m0p0 inf-mb" style="margin-top: 1%;">
                <div class="col-sm-6 textoM" style="margin-top: 3%;">
                  <div class="dialog-texto">Fecha: {{this.fechaTimbrado | date: 'dd/MM/YYYY'}}</div>
                </div>
                <div class="col-sm-6 textoM" style="margin-top: 3%;">
                  <div class="dialog-texto">RFC Receptor: {{this.rfcReceptor}}</div>
                </div>
                <div class="col-sm-6 textoM" style="margin-top: 3%;">
                  <div class="dialog-texto">Total: {{this.total}}</div>
                </div>
                <div class="col-sm-6 textoM" style="margin-top: 3%;">
                  <div class="dialog-texto">UIDD: {{this.uidd}}</div>
                </div>
              </div>
            </div>
          </div>


          <div class="row" style="margin: 40px 0px 0px !important; width: 100%; padding: 0;">
            <div class="col-12 btns-busq">
              <button type="button" class="btn-utaxme-secondary btn-reg" (click)="closeDialog()">
                Regresar
              </button>
              <button type="button" class="btn-utaxme btn-busq-cfdi" (click)="confirmarCancelacionDialog(data.cfdi)">
                Cancelar factura
              </button>
            </div>
          </div>
        </form>
      </div>
  </mat-dialog-actions>
</div>