::ng-deep  .mat-dialog-container:has(.modal-cfdi) {
  border-radius: 4px;
  padding: 0px;
  min-width: 600px !important;
  min-height: 220px !important;
}

.mat-dialog-actions {
  display: contents !important;
}

.mat-dialog-content {
  margin: 0 !important;
  padding: 20px 30px;
  background: #1D2640;

}

.modal-cfdi{
  min-height: 670px;
}

::ng-deep .modal-cfdi .mat-tab-label {
  padding: 0px 25px 0px 10px;
  min-width: 110px;
}

::ng-deep .modal-cfdi .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  width: 110px;
}

.dialog-titulo{
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}

.img-close {
  background-image: url("src\assets\icon\close.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: left;
}

.dialog-texto{
  font-weight: 400;
  font-size: 16px;
  color: #7B8AA0;
  margin-top: 50px;
}

.textoM{
  text-transform: uppercase;
}

@media(max-width: 450px){
  ::ng-deep  .mat-dialog-container:has(.modal-cfdi) {
    min-width: 100vw!important;
    min-height: 100vh !important;
    border-radius: 0px;
  }

  

  ::ng-deep  .cdk-overlay-pane:has(.modal-cfdi) {
    max-width: 100vw !important;
    max-height: 100vh;
  }

  .mat-dialog-content {
    margin: 0 !important;
    padding: 20px 30px;
    background: #fff;
  }

  .img-close{
    background-image: url("src\assets\icon\back.svg");
    background-size: 20px 20px;
  }

  .dialog-titulo{
    font-weight: 700;
    font-size: 18px;
    color: #0B112A;
  }

  .formulario-configuracion .col-6{
    width: 100%;
  }

  .dialog-texto{
    margin-bottom: 5%;
  }

  .w-mb{
    width: 100%;
  }

  .not-mobile{
    display: none;
  }

  .in-mobile{
    display: block;
  }
  .inf-mb{
    display: flex;
    flex-direction: column;
  }
}